.amp-footer {
    color: #505050;
    border-top: 1px solid #e8e8e8;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.amp-footer-col {
    padding: 0 1.14286rem;
    width: 50%;
}

.amp-footer-col--about {
    width: 100%;
    text-align: center;
}

.amp-footer-col--about address {
    font-style: normal;
    margin-bottom: 0.78571rem;
}

.amp-footer-col--brands {
    width: 100%;
}
.amp-footer-col--brands .amp-footer-list {
    columns: 2;
}

.amp-footer a {
    color: #989898;
    text-decoration: none
}
.amp-footer a:hover {
    color: #4f4f4f
}

.amp-footer-heading {
    text-transform: uppercase;
    font-size: 18px;
}

.amp-footer-heading a {
    color: #282828;
}

.amp-footer-list {
    margin: 0;
    list-style-type: none;
}

.amp-footer-list li {
    padding: 3px 0;
}

.amp-footer-copyright {
    width: 100%;
    background: #f0f0f0;
    padding: 0.78571rem;
    text-align: center;
    margin-top: 3rem;
}

.amp-footer-copyright p {
    margin: 0;
}
