<article class="blog {{#if show_tags}}{{#if post.tags}}blog--has-tags{{/if}}{{/if}} {{#unless hide_social_icons}}blog--has-socials{{/unless}}">
    <div class="blog-post-figure">
        {{#if post.thumbnail}}
            <figure class="blog-thumbnail">
                <a data-instantload href="{{post.url}}">
                    {{> components/common/responsive-img
                        image=post.thumbnail
                        fallback_size=theme_settings.blog_size
                        lazyload=theme_settings.lazyload_mode
                    }}
                </a>
            </figure>
        {{/if}}
    </div>

    <div class="blog-post-body">
        <header class="blog-header">
            {{#if single}}
                <h1 class="blog-title">
                    <a data-instantload href="{{post.url}}">{{post.title}}</a>
                </h1>
            {{else}}
                <h2 class="blog-title">
                    <a data-instantload href="{{post.url}}">{{post.title}}</a>
                </h2>
            {{/if}}
        </header>

        <div class="blog-post">
            {{#if single}}
                {{{region name="blog_post_body"}}}
            {{/if}}
            {{#if post.body}}
                {{{post.body}}}
                <div class="blog-date"><span class="blog-date-date">{{post.date_published}}{{#if post.author}}</span> <span class="blog-date-author">{{lang 'blog.posted_by' name=post.author}}{{/if}}</span></div>
            {{else}}
                {{#unless hide_summary}}
                    <div class="blog-summary">
                        {{{post.summary}}}
                        {{#if post.show_read_more}}
                            &hellip; 
                        {{/if}}
                    </div>
                {{/unless}}

                <div class="blog-dateContainer">
                    {{#unless hide_readmore}}
                    {{#if post.show_read_more}}
                        <div class="blog-readmore"><a data-instantload href="{{url}}">{{lang 'blog.read_more'}}</a></div>
                    {{/if}}
                    {{/unless}}
                    <div class="blog-date"><span class="blog-date-date">{{post.date_published}}{{#if post.author}}</span> <span class="blog-date-author">{{lang 'blog.posted_by' name=post.author}}{{/if}}</span></div>
                </div>
            {{/if}}
        </div>

        {{#if show_tags}}
            {{#if post.tags}}
                <ul class="tags">
                    {{#each post.tags}}
                    <li class="tag">
                        <a data-instantload href="{{url}}">#{{name}}</a>
                    </li>
                    {{/each}}
                </ul>
            {{/if}}
        {{/if}}

        {{#unless hide_social_icons}}
            {{> components/common/share url=post.url}}
        {{/unless}}

    </div>
</article>
