
<div class="emthemesModez-banner">
	<div class="emthemesModez-banner-container">
		<figure class="emthemesModez-banner-figure">
			{{#if image '!=' ' '}}
			<a href="{{url}}"><img class="emthemesModez-banner-image" src="{{image}}" alt="{{title}}" title="{{title}}" /></a>
			{{/if}}
		</figure>

		
		<figcaption class="emthemesModez-banner-figcaption {{#if title '==' ' '}}{{#if text '==' ' '}}{{#if button '==' ' '}}emthemesModez-banner-figcaption--empty{{/if}}{{/if}}{{/if}}">
			<div class="emthemesModez-banner-figcaption-body">
				{{#if title '!=' ' '}}
				<h4 class="emthemesModez-banner-figcaption-title">{{title}}</h4>
				{{/if}}

				{{#if text '!=' ' '}}
				<div class="emthemesModez-banner-figcaption-text">{{text}}</div>
				{{/if}}

				{{#if button '!=' ' '}}
				<a href="{{url}}" class="button button--primary button--small emthemesModez-banner-figcaption-button">{{button}}</a>
				{{/if}}
			</div>
		</figcaption>
	</div>
</div>
