<div class="emthemesModez-bannersContainer 
			emthemesModez-bannersContainer--onethird-x3 
			emthemesModez-bannersContainer--onethird-x3-{{index}} 
			{{#if style}}emthemesModez-bannersContainer--onethird-x3-{{style}}{{/if}}">

	{{> components/emthemes-modez/banners/banner
		url=(lang (concat (concat "emthemesmodez.banners.onethird_x3_" index) ".banner1.url"))
		image=(lang (concat (concat "emthemesmodez.banners.onethird_x3_" index) ".banner1.image"))
		title=(lang (concat (concat "emthemesmodez.banners.onethird_x3_" index) ".banner1.title"))
		text=(lang (concat (concat "emthemesmodez.banners.onethird_x3_" index) ".banner1.text"))
		button=(lang (concat (concat "emthemesmodez.banners.onethird_x3_" index) ".banner1.button"))
		style=style
	}}

	{{> components/emthemes-modez/banners/banner
		url=(lang (concat (concat "emthemesmodez.banners.onethird_x3_" index) ".banner2.url"))
		image=(lang (concat (concat "emthemesmodez.banners.onethird_x3_" index) ".banner2.image"))
		title=(lang (concat (concat "emthemesmodez.banners.onethird_x3_" index) ".banner2.title"))
		text=(lang (concat (concat "emthemesmodez.banners.onethird_x3_" index) ".banner2.text"))
		button=(lang (concat (concat "emthemesmodez.banners.onethird_x3_" index) ".banner2.button"))
		style=style
	}}

	{{> components/emthemes-modez/banners/banner
		url=(lang (concat (concat "emthemesmodez.banners.onethird_x3_" index) ".banner3.url"))
		image=(lang (concat (concat "emthemesmodez.banners.onethird_x3_" index) ".banner3.image"))
		title=(lang (concat (concat "emthemesmodez.banners.onethird_x3_" index) ".banner3.title"))
		text=(lang (concat (concat "emthemesmodez.banners.onethird_x3_" index) ".banner3.text"))
		button=(lang (concat (concat "emthemesmodez.banners.onethird_x3_" index) ".banner3.button"))
		style=style
	}}

</div>
