<div class="emthemesModez-bannersContainer emthemesModez-bannersContainer--twothird-onethird">

	{{> components/emthemes-modez/banners/banner
		url=(lang (concat (concat "emthemesmodez.banners.twothird_onethird_" index) ".banner1.url"))
		image=(lang (concat (concat "emthemesmodez.banners.twothird_onethird_" index) ".banner1.image"))
		title=(lang (concat (concat "emthemesmodez.banners.twothird_onethird_" index) ".banner1.title"))
		text=(lang (concat (concat "emthemesmodez.banners.twothird_onethird_" index) ".banner1.text"))
		button=(lang (concat (concat "emthemesmodez.banners.twothird_onethird_" index) ".banner1.button"))
	}}

	{{> components/emthemes-modez/banners/banner
		url=(lang (concat (concat "emthemesmodez.banners.twothird_onethird_" index) ".banner2.url"))
		image=(lang (concat (concat "emthemesmodez.banners.twothird_onethird_" index) ".banner2.image"))
		title=(lang (concat (concat "emthemesmodez.banners.twothird_onethird_" index) ".banner2.title"))
		text=(lang (concat (concat "emthemesmodez.banners.twothird_onethird_" index) ".banner2.text"))
		button=(lang (concat (concat "emthemesmodez.banners.twothird_onethird_" index) ".banner2.button"))
	}}

</div>