.heroCarousel-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    @if $theme-style == "compact" {
		@include breakpoint("medium") {
            margin-bottom: spacing("half");
            
            @if $theme-layout == "left-sidebar" {
                margin-top: spacing("half");
            }
		}
    }
}

.heroCarousel-container--hasBanners {
    @include breakpoint("medium") {
        flex-wrap: nowrap;
    }
}

.heroCarousel {
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;

    .heroCarousel-container--hasBanners & {
        @include breakpoint("medium") {
            min-width: 66.6666%;
            *width: 66.6666%;
        }
    }

    .js & {
        opacity: 1;
        max-height: none;
        transition: none;
    }

    @include breakpoint("medium") {
        width: auto;
        flex: 1 1 0;
    }

    &.slick-initialized {
        max-height: none;
    }
    &.slick-dotted {
        margin-bottom: 0;
    }
}

.heroCarousel-banners {
    width: 100%;
    > * {
        height: 100% !important;
    }
    @include breakpoint("medium") {
        width: calc(33.33% - #{spacing("half")});
        flex: 0 0 auto;
        margin-left: spacing("half");
    }
    .papathemesHeroCarouselBanner {
        display: flex;
        flex-flow: row wrap;
        > * {
            margin: spacing("half") 0 0 0;
            width: 100%;
        }
        @include breakpoint("small") {
            margin: 0 0 0 (- spacing("half"));
            > * {
                margin: spacing("half") 0 0 spacing("half");
                width: calc(50% - #{spacing("half")});
            }
        }
        @include breakpoint("medium") {
            margin: - spacing("half") 0 0 0;
            > * {
                margin: spacing("half") 0 0 0;
                width: 100%;
            }
        }
    }
}

.heroCarousel .slick-next, 
.heroCarousel .slick-prev {
    top: 50%;
    display: none !important;

    @include breakpoint("medium") {
        display: block !important;
    }
}

.heroCarousel .slick-dots li {
    height: auto;
    width: auto;
    padding: remCalc(5px);

    button {
        background: $slick-dot-color;
    }

    button,
    button::before {
        @include square(6px);
        border-radius: remCalc(3px);
        transition: all 0.5s ease;
    }

    &.slick-active {
        button,
        button::before {
            width: remCalc(15px);
        }
    }


}

.js {
    .heroCarousel-slide:first-child {
        display: block;
    }

    .heroCarousel-slide + .heroCarousel-slide {
        opacity: 0;
        max-height: 0;
    }

    // .heroCarousel-slide:not(.slick-slide),
    // .heroCarousel-slide.slick-slide:not(.slick-active) {
    //     background-image: none !important;
    // }

    .slick-initialized .heroCarousel-slide + .heroCarousel-slide {
        opacity: 1;
        max-height: none;
    }
}

.heroCarousel-slide {
    .heroCarousel-image-wrapper {
        max-height: none;
    }
    
    .heroCarousel-image {
        max-height: none;
    }

    a {
        display: block;
    }
}

.heroCarousel-image-box {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}
.heroCarousel-image-box-padding {
    height: 0;
}

.heroCarousel-image {
    width: 100%;

    &.lazyload,
    &.lazyloading {
        width: auto;

        .heroCarousel-image-wrapper:not(.heroCarousel-image-wrapper--sized) & + .heroCarousel-content {
            opacity: 0;
        }
    }

    @include breakpoint("medium") {
        width: auto;
    }
}

.heroCarousel-content {
    @include breakpoint("medium") {
        background-color: rgba($carousel-bgColor, stencilNumber("carousel-bgColor-opacity") / 100);
    }
}

.heroCarousel-video-wrapper {
    position: relative;
    overflow: hidden;
}

.heroCarousel-video {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    padding-bottom: stencilString('carousel-video-ratio');
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;

    .slick-active & {
        visibility: visible;
    }

    .heroCarousel:not([data-youtube-autoplay]) &,
    .slick-video-playing & {
        visibility: visible;
        opacity: 1;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


// 
// Make position of carousel description text of each slide 
// to left or right depends on theme settings
// 
@include breakpoint("medium") {
    @for $i from 0 through 4 {
        @if stencilString("carousel-slide" + #{$i} + "-position") == "left" {
            .heroCarousel-slide--#{$i} .heroCarousel-content {
                text-align: left;

                @include breakpoint("medium") {
                    left: auto;
                    right: 50%;
                    width: auto;
                    max-width: 37.5%;
                }
            }
        }
        @else if stencilString("carousel-slide" + #{$i} + "-position") == "right" {
            .heroCarousel-slide--#{$i} .heroCarousel-content {
                text-align: right;

                @include breakpoint("medium") {
                    left: 50%;
                    right: auto;
                    width: auto;
                    max-width: 37.5%;
                }
            }
        }
    }
}


.heroCarousel-title {
    font-family: $header-font-family;
    font-weight: fontWeight("bold");
    font-size: fontSize("largest");
    margin-bottom: 0;

    @include breakpoint("medium") {
        font-size: fontSize("hero");
    }
}

.heroCarousel-description {
    font-size: fontSize("base");
    margin-bottom: spacing("half");

    @include breakpoint("medium") {
        font-size: 36px;
        margin-bottom: 0;
    }
}


// ============================================================================
// Modern Style
// ============================================================================

.papaSupermarket-style--modern {
    .heroCarousel-title {
        font-family: $header-font-family;
        line-height: 1;

        @include breakpoint("medium") {
            font-size: fontSize("base") * 2;
            margin-bottom: spacing("half");
            text-shadow: 1px 1px 0 rgba(stencilColor("carousel-bgColor"), .2);
        }

        @include breakpoint("xxlarge") {
            font-size: fontSize("base") * 3;
        }
    }

    .heroCarousel-description {
        @include breakpoint("medium") {
            font-size: fontSize("base");
            text-shadow: 1px 1px 0 rgba(stencilColor("carousel-bgColor"), .2);
        }

        @include breakpoint("xxlarge") {
            font-size: fontSize("small");
        }
    }

    .heroCarousel-content {
        @include breakpoint("xxlarge") {
            top: 5rem;
            transform: none;
        }
    }

    @for $i from 0 through 4 {
        @if stencilString("carousel-slide" + #{$i} + "-position") == "left" {
            .heroCarousel-slide--#{$i} .heroCarousel-content {
                text-align: center;

                @include breakpoint("medium") {
                    text-align: left;
                    left: 5rem;
                    right: auto;
                    width: auto;
                    max-width: calc(50% - 5rem);
                }

                @include breakpoint("xxlarge") {
                    max-width: calc(45% - 5rem);
                }
            }
        }
        @else if stencilString("carousel-slide" + #{$i} + "-position") == "right" {
            .heroCarousel-slide--#{$i} .heroCarousel-content {
                text-align: center;

                @include breakpoint("medium") {
                    text-align: left;
                    left: 50%;
                    right: auto;
                    width: auto;
                    max-width: calc(50% - 5rem);
                }

                @include breakpoint("xxlarge") {
                    left: 55%;
                    max-width: calc(45% - 5rem);
                }
            }
        }
    }
}
