<div class="previewCart" data-cart-quantity="{{cart.quantity}}">
    {{#if cart.items.length}}
        <div class="previewCartListWrapper">
            <ul class="previewCartList">
                {{#each cart.items}}
                    <li class="previewCartItem">
                        <div class="previewCartItem-image">
                            {{#if type '==' 'GiftCertificate'}}
                                <img src="{{cdn ../../theme_settings.default_image_gift_certificate}}" alt="GiftCertificate" title="GiftCertificate">
                            {{else}}
                                {{> components/common/responsive-img
                                    image=image
                                    fallback_size=../../theme_settings.productthumb_size
                                    lazyload=../../theme_settings.lazyload_mode
                                    default_image=../../theme_settings.default_image_product
                                }}
                            {{/if}}
                        </div>

                        <div class="previewCartItem-content">
                            <span class="previewCartItem-brand">
                                {{brand.name}}
                            </span>

                            <h6 class="previewCartItem-name">
                                <a href="{{url}}" alt="{{name}}" title="{{name}}">{{name}}</a>
                            </h6>

                            {{#if sku}}
                                <dl class="definitionList definitionList--previewCartItem">
                                    <dt class="definitionList-key">{{lang 'products.sku'}}</dt>
                                    <dd class="definitionList-value">{{sku}}</dd>
                                </dl>
                            {{/if}}

                            <span class="previewCartItem-price">
                                {{#if quantity '>' 1}}
                                    {{quantity}} &times;
                                {{/if}}
                                {{#or ../customer (if ../theme_settings.restrict_to_login '!==' true)}}
                                    <span{{#if price_discounted}} class="price--discounted"{{/if}}>{{price.formatted}}</span>
                                    {{#if price_discounted}}
                                        {{price_discounted.formatted}}
                                    {{/if}}
                                {{else}}
                                    {{> components/common/login-for-pricing}}
                                {{/or}}
                            </span>

                            {{#if can_modify}}
                            <span class="previewCartItem-remove">
                                <a class="previewCartItem-remove-icon" title="{{lang 'cart.remove'}}" data-cart-remove data-cart-itemid="{{id}}" href="#" data-confirm-delete="{{lang 'cart.confirm_delete'}}" aria-autoclose="false">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </span>
                            {{/if}}
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
        <div class="previewCartAction">
            {{#if cart.show_primary_checkout_button}}
                <div class="previewCartAction-checkout">
                    <a href="{{urls.checkout.single_address}}" class="button button--small button--primary">
                        {{lang 'cart.preview.checkout_now'}}
                    </a>
                </div>
            {{/if}}

            <div class="previewCartAction-viewCart{{#unless cart.show_primary_checkout_button}} previewCartAction-viewCart--sole{{/unless}}">
                <a href="{{urls.cart}}" class="button button--small button--action">
                    {{lang 'cart.preview.view_cart'}}
                </a>
            </div>

            {{#if cart.show_multiple_address_shipping}}
                <div class="previewCartAction-checkoutMultiple">
                    <a href="{{urls.checkout.multiple_address}}">
                        {{lang 'cart.preview.checkout_multiple'}}
                    </a>
                </div>
            {{/if}}
        </div>
        {{#if cart.additional_checkout_buttons}}
            <div class="previewCart-additionalCheckoutButtons">
                {{#each cart.additional_checkout_buttons}}
                    {{{this}}}
                {{/each}}
            </div>
        {{/if}}
    {{else}}
        <div class="previewCart-emptyBody">
            {{lang 'cart.checkout.empty_cart'}}
        </div>
    {{/if}}
</div>
