
{{#or banners.bottom theme_settings.instantload}}
<div class="container">
    {{#if settings.data_tag_enabled}}
        <div class="banners banners--bottom" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners banners--bottom" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}
</div>
{{/or}}

{{{region name="footer_before"}}}
{{{region name="footer_before--global"}}}

{{#if settings.show_newsletter_box}}
    {{#if theme_settings.nl_popup_show '===' 'home'}}
        {{#if page_type '===' 'default'}}
            {{> components/emthemes-modez/newsletter/modal}}
        {{/if}}
    {{else if theme_settings.nl_popup_show '===' 'all'}}
        {{> components/emthemes-modez/newsletter/modal}}
    {{/if}}
{{/if}}

<footer class="footer" role="contentinfo">
    {{#if settings.show_newsletter_box}}
    {{#if theme_settings.footer_show_newsletter}}
    
  
    
    <div class="emthemesModez-footer-topColumns-wrapper">
        <div class="container">
            <div class="emthemesModez-footer-topColumns">
                <div class="emthemesModez-footer-newsletter">
                    {{> components/emthemes-modez/newsletter/section}}
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{/if}}           
                    
                    

    {{{region name="newsletter_below"}}}
    {{{region name="newsletter_below--global"}}}


    <div class="container">
        <section class="footer-info">

            {{#if theme_settings.footer_show_aboutus}}
                <article class="footer-info-col" data-section-type="storeInfo">
                    {{{region name="footer_before_logo--global"}}}
                    <div class="footer-info-heading">
                        <div class="footer-logo">
                            {{#if settings.store_logo.image}}
                                {{#if theme_settings.logo_size '===' 'original'}}
                                    <img class="header-logo-image-unknown-size" src="{{getImage settings.store_logo.image 'logo_size'}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
                                {{else}}
                                    <div class="header-logo-image-container">
                                        <img class="header-logo-image" src="{{getImage settings.store_logo.image 'logo_size'}}" srcset="{{getImageSrcset settings.store_logo.image 1x=theme_settings.logo_size 2x=(concat (multiply (first (split theme_settings.logo_size 'x')) 2) 'w')}}" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
                                    </div>
                                {{/if}}
                            {{else}}
                                <span class="header-logo-text">{{settings.store_logo.title}}</span>
                            {{/if}}
                        </div>
                    </div>
                    {{{region name="footer_below_logo--global"}}}

                    {{#if theme_settings.footer_show_contact}}
                        <ul class="fa-ul">
                            <li><i class="fa fa-li fa-map-marker"></i><address>{{nl2br settings.address}}</address></li>
                            {{#if settings.phone_number}}
                            <li><i class="fa fa-li fa-phone"></i><a href="tel:{{settings.phone_number}}">{{lang 'footer.call_us' phone_number=settings.phone_number}}</a></li>
                            {{/if}}
                        </ul>
                    {{/if}}

                    {{#if theme_settings.social_icon_placement_bottom}}
                        {{> components/common/social-links style="alt"}}
                    {{/if}}

                    {{{region name="footer_below_contact--global"}}}
                </article>
            {{/if}}
            
 <article class="footer-info-col" data-section-type="footer-webPages">
                    <p class="footer-info-heading">Who we are</p>
                    <ul class="footer-info-list">
                         <li>
                                    <a href="https://gritrsports.com/our-store/">Our Store</a>
                                </li>
                      
                                <li>
                                    <a href="https://gritrsports.com/about-us/">About us</a>
                                </li>
                            
                                <li>
                                    <a href="https://gritrsports.com/contact-us/">Contact us</a>
                                </li>
                            
                            <li>
                                    <a href="https://gritrsports.com/about-the-range/">About the Range</a>
                                </li>
                                  <li>
                                    <a href="https://gritrsports.com/rental-guns/">Rental Guns</a>
                                </li>
                              
                                <li>
                                    <a href="https://waiver.smartwaiver.com/w/5deac9fee92fb/web/">Gun Range Waiver</a>
                                </li>
                                 <li>
                                    <a href="https://gritrsports.com/careers/">Careers</a>
                                </li>
                                
                      
                    </ul>
                </article>
                
                
                <article class="footer-info-col" data-section-type="footer-webPages">
                    <p class="footer-info-heading">Order Information</p>
                    <ul class="footer-info-list">
                      
                        <li>
                                    <a href="https://gritrsports.com/secure-ordering-privacy-policy/">Secure Ordering / Privacy Policy  </a>
                                </li>
                      
                        <li>
                                    <a href="https://gritrsports.com/order-cancellation/">Order Cancellation  </a>
                                </li>
                                
                                 <li>
                                    <a href="https://gritrsports.com/returns-exchanges-refunds/">Returns / Exchanges / Refunds </a>
                                </li> 
                               
                                  <li>
                                    <a href="https://gritrsports.com/affiliate-program/">Affiliate Program  </a>
                                </li>
                                <li>
                                    <a href="https://gritrsports.com/FAQ/">Faqs  </a>
                                </li>
                               
                                
                                
                                
                                
                       
                    </ul>
                </article>
                   <article class="footer-info-col" data-section-type="footer-webPages">
                    <p class="footer-info-heading">Shipping/Taxes </p>
                    <ul class="footer-info-list">
                      
                                   <li>
                                    <a href="https://gritrsports.com/us-shipping/">US Shipping </a>
                                </li>
                            
                                <li>
                                    <a href="https://gritrsports.com/international-orders-and-shipping/">International Orders And Shipping </a>
                                </li>
                            
                             <li>
                                    <a href="https://gritrsports.com/export-policy/">Export Policy </a>
                                </li>
                            
                          
                            
                            
                                
                       
                    </ul>
                </article>
                
                
                  <article class="footer-info-col" data-section-type="footer-webPages">
                    <p class="footer-info-heading">For Customers</p>
                    <ul class="footer-info-list">
                       <li>
                                    <a href="https://gritrsports.com/prices-sales-tax-content-policies/">Prices / Sales Tax / Content Policies  </a>
                                </li>
                                
                                 <li>
                                    <a href="https://gritrsports.com/customer-service/">Customer Service</a>
                                </li>
                                 <li>
                                    <a href="https://gritrsports.com/state-restrictions/">State Restrictions</a>
                                </li>
                                <li>
                                    <a href="https://gritrsports.com/rewards/">Reward program</a>
                                </li>
                                 
                                 <li>
                                    <a href="https://gritrsports.com/ada-statement/">ADA Statement</a>
                                </li>
                                <li>
                                    <a href="https://gritrsports.com/cash-for-guns/">Cash For Guns</a>
                                </li>
                             
                    </ul>
                </article>
                
                  <article class="footer-info-col" data-section-type="footer-webPages">
                    <p class="footer-info-heading">Guidelines</p>
                    <ul class="footer-info-list">
                      
                                   <li>
                                    <a href="https://gritrsports.com/how-to-buy-a-firearm/">How to Buy a Firearm Online </a>
                                </li>
                            
                             <li>
                                    <a href="https://gritrsports.com/how-to-buy-a-suppressor-online/">How to Buy a Suppressor Online </a>
                                </li>
                                 <li>
                                    <a href="https://cdn11.bigcommerce.com/s-lpuqsi1cy6/images/stencil/original/image-manager/gritr-sports-ffl.jpg" rel="nofollow noopener">Download FFL Copy</a>
                                </li>
                                
                                  <li>
                                    <a href="/guides-tutorials/">Guides & Tutorials </a>
                                </li>
                                 <li>
                                    <a href="/layaway-in-store-pickup-only/">Layaway (In-Store Pickup Only) </a>
                                </li>
                                
                                  
                        <li>
                            <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                        </li>
                                
                               
                                
                              
                                
                                 
                            
                         
                                
                       
                    </ul>
                </article>
            {{#if theme_settings.footer_show_pages '>' -2}}
                <article class="footer-info-col" data-section-type="footer-webPages">
                    <p class="footer-info-heading">{{lang 'footer.navigate'}}</p>
                    <ul class="footer-info-list">
                        {{#if theme_settings.footer_show_pages '>' -1}}
                            {{#each (limit pages theme_settings.footer_show_pages)}}
                                <li>
                                    <a href="{{url}}">{{name}}</a>
                                </li>
                            {{/each}}
                        {{else}}
                            {{#each pages}}
                                <li>
                                    <a href="{{url}}">{{name}}</a>
                                </li>
                            {{/each}}
                        {{/if}}
                        <li>
                            <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                        </li>
                    </ul>
                    {{{region name="footer_below_pages--global"}}}
                </article>
            {{/if}}

            {{#if theme_settings.footer_show_categories '>' -1}}
                <article class="footer-info-col" data-section-type="footer-categories">
                    <p class="footer-info-heading">{{lang 'footer.categories'}}</p>
                    <ul class="footer-info-list">
                        {{#if theme_settings.footer_show_categories '>' 0}}
                            {{#each (limit categories theme_settings.footer_show_categories)}}
                                <li>
                                    <a href="{{url}}">{{name}}</a>
                                </li>
                            {{/each}}
                        {{else}}
                            {{#each categories}}
                                <li>
                                    <a href="{{url}}">{{name}}</a>
                                </li>
                            {{/each}}
                        {{/if}}
                    </ul>
                    {{{region name="footer_below_categories--global"}}}
                </article>
            {{/if}}

            {{#if theme_settings.footer_show_links_1}}
                {{> components/emthemes-modez/common/footer-links index=1}}
            {{/if}}

            {{#if theme_settings.footer_show_links_2}}
                {{> components/emthemes-modez/common/footer-links index=2}}
            {{/if}}
            
            {{#if theme_settings.footer_show_links_3}}
                {{> components/emthemes-modez/common/footer-links index=3}}
            {{/if}}
            
            {{#if theme_settings.footer_show_links_4}}
                {{> components/emthemes-modez/common/footer-links index=4}}
            {{/if}}


           

        </section>
        {{{region name="footer_below_columns--global"}}}
    </div>

    <div class="footer-copyright">
        <div class="container">
            <p class="powered-by">
                {{#if theme_settings.show_copyright_footer}}
                    &copy; <span id="copyright_year"></span> {{settings.store_name}}.
                    <script>
                        document.getElementById("copyright_year").innerHTML = new Date().getFullYear();
                    </script>
                {{/if}}
                {{#if theme_settings.show_powered_by}}
                    Powered by <a href="http://bigcommerce.com" rel="nofollow">BigCommerce</a>. Theme designed by <a href="https://papathemes.com" rel="nofollow">Papathemes</a>.
                {{/if}}
            </p>

            {{> components/common/payment-icons}}

            {{#if theme_settings.show_geotrust_ssl_seal}}
                <div class="footer-geotrust-ssl-seal">
                    {{> components/common/geotrust-ssl-seal}}
                </div>
            {{/if}}
        </div>
    </div>
    
</footer>

{{{region name="footer_bottom--global"}}}
