{{#if children}}
    <div
        class="navPage-childList-action navPages-action has-subMenu weby-nav-childlist" 
        {{#if menu_type '!=' 'vertical'}}data-instantload{{/if}}
        {{#if id '==' category_id}}data-current-category{{/if}}
        data-collapsible="navPages-{{id}}{{idSuffix}}"
        {{#if menu_type '!=' 'vertical'}}data-collapsible-disabled-breakpoint="medium"{{/if}}
        data-collapsible-disabled-state="open"
        data-collapsible-enabled-state="closed">
        {{name}} <i class="icon navPages-action-moreIcon weby-nav-childlist-icon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
    </div>
    <ul class="navPage-childList weby-nav-sublist weby-inactive-child" id="navPages-{{id}}{{idSuffix}}">
        <li class="navPage-childList-item weby-nav-first-child">
            <a class="navPage-childList-action navPages-action" data-instantload href="{{url}}">{{lang 'category.view_all.name' category=name}}</a>
        </li>
        {{#each children}}
            <li class="navPage-childList-item">
                {{> components/common/navigation-list-child 
                    category_id=../category_id 
                    idSuffix=../idSuffix 
                    theme_settings=../theme_settings
                    menu_type=../menu_type}}
            </li>
        {{/each}}
    </ul>
{{else}}
  {{#if id '!==' '195'}}
    <a class="navPage-childList-action navPages-action" data-instantload href="{{url}}" {{#if id '==' category_id}}data-current-category{{/if}}>{{name}}</a>
  {{/if}}
{{/if}}
