{{#if children}}
<a class="navPages-action has-subMenu" href="{{url}}" 
    data-instantload
    data-collapsible="navPages-page-{{@index}}"
    data-collapsible-disabled-breakpoint="medium"
    data-collapsible-disabled-state="open"
    data-collapsible-enabled-state="closed">
    {{name}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
</a>
<div class="navPage-subMenu navPage-subMenu--standard" id="navPages-page-{{@index}}" aria-hidden="true" tabindex="-1">
    <ul class="navPage-subMenu-list">
        <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" data-instantload href="{{url}}">{{name}}</a>
        </li>
        {{#each children}}
            <li class="navPage-subMenu-item">
                {{#if children}}
                    <a
                        class="navPage-subMenu-action navPages-action has-subMenu"
                        href="{{url}}"
                        data-instantload
                        data-collapsible="navPages-page-{{../../index}}-{{@index}}"
                        data-collapsible-disabled-breakpoint="medium"
                        data-collapsible-disabled-state="open"
                        data-collapsible-enabled-state="closed">
                        {{name}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                    </a>
                    <ul class="navPage-childList" id="navPages-page-{{../../index}}-{{@index}}">
                        <li class="navPage-childList-item">
                            <a class="navPage-childList-action navPages-action" data-instantload href="{{url}}">{{name}}</a>
                        </li>
                        {{#each children}}
                        <li class="navPage-childList-item">
                            <a class="navPage-childList-action navPages-action" data-instantload href="{{url}}">{{name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                {{else}}
                    <a class="navPage-subMenu-action navPages-action" data-instantload href="{{url}}">{{name}}</a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
{{else}}
<a class="navPages-action" data-instantload href="{{url}}">{{name}}</a>
{{/if}}
