{{#if children}}
<a class="navPages-action has-subMenu {{#if menu_type '==' 'vertical'}}navPages-action--vertical{{/if}}" href="{{url}}"
    {{#if menu_type '!=' 'vertical'}}data-instantload{{/if}}
    {{#if id '==' category.id}}data-current-category{{/if}}
    data-collapsible="navPages-{{id}}{{idSuffix}}"
    {{#if menu_type '!=' 'vertical'}}data-collapsible-disabled-breakpoint="medium"{{/if}}
    data-collapsible-disabled-state="open"
    data-collapsible-enabled-state="closed">
    {{name}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
</a>
<div class="navPage-subMenu
        {{#if menu_type '==' 'vertical'}}
            navPage-subMenu--vertical
        {{else if menu_type '==' 'standard'}}
            navPage-subMenu--standard
        {{/if}}
    " id="navPages-{{id}}{{idSuffix}}" aria-hidden="true" tabindex="-1">
    {{#if theme_settings.navPages_banners}}
        {{#if menu_type '==' 'mega'}}
            <div class="navPage-subMenu-rightBanners" data-emthemesmodez-remote-banner="emthemesModezBannersBlockMegaMenuRight{{@index}}"></div>
        {{/if}}
    {{/if}}
    <ul class="navPage-subMenu-list">
        <li class="navPage-subMenu-item">
            <a class="navPage-subMenu-action navPages-action" href="{{url}}" data-instantload>{{lang 'category.view_all.name' category=name}}</a>
        </li>
        {{#each children}}
            <li class="navPage-subMenu-item">
                {{#if children}}
                    <a
                        class="navPage-subMenu-action navPages-action has-subMenu"
                        href="{{url}}"
                        {{#if ../../menu_type '!=' 'vertical'}}data-instantload{{/if}}
                        {{#if id '==' ../../category.id}}data-current-category{{/if}}
                        data-collapsible="navPages-{{id}}{{../../idSuffix}}"
                        {{#if ../../menu_type '!=' 'vertical'}}data-collapsible-disabled-breakpoint="medium"{{/if}}
                        data-collapsible-disabled-state="open"
                        data-collapsible-enabled-state="closed">
                        {{name}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                    </a>
                    <ul class="navPage-childList" id="navPages-{{id}}{{../../idSuffix}}">
                        <li class="navPage-childList-item">
                            <a class="navPage-childList-action navPages-action" href="{{url}}" data-instantload>{{lang 'category.view_all.name' category=name}}</a>
                        </li>
                        {{#each children}}
                        <li class="navPage-childList-item">
                            {{> components/common/navigation-list-child 
                                    category_id=../../../category.id 
                                    idSuffix=../../../idSuffix 
                                    theme_settings=../../../theme_settings
                                    menu_type=../../../menu_type}}
                        </li>
                        {{/each}}
                    </ul>
                {{else}}
                    <a class="navPage-subMenu-action navPages-action" href="{{url}}" data-instantload {{#if id '==' ../../category.id}}data-current-category{{/if}}>{{name}}</a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
    {{#if theme_settings.navPages_banners}}
        {{#if menu_type '==' 'mega'}}
            <div class="navPage-subMenu-bottomBanners" data-emthemesmodez-remote-banner="emthemesModezBannersBlockMegaMenuBottom{{@index}}"></div>
        {{/if}}
    {{/if}}
</div>
{{else}}
  {{#if id '!==' '191'}}
    {{#if id '!==' '198'}}
     {{#if id '!==' '256'}}
         <a {{#if id '==' '196'}}class="navPages-action ammo-good-fortune-link" {{else}} class="navPages-action" {{/if}} href="{{url}}" data-instantload {{#if id '==' category.id}}data-current-category{{/if}}>{{name}}</a>
     {{/if}}
    {{/if}}
  {{/if}}
{{/if}}
