{{inject 'hasInstagram' true}}
<h2 class="page-heading">{{lang 'instagram.title'}}</h2>
<div id="instafeed-carousel" class="emthemesModez-instafeed emthemesModez-instafeed--carousel {{#if style}}emthemesModez-instafeed--{{style}}{{/if}}" 
    data-emthemesmodez-instafeed-carousel='{
        "dots": false,
        "infinite": false,
        "mobileFirst": true,
        "slidesToShow": 2,
        "slidesToScroll": 2,
        "responsive": [
            {
                "breakpoint": 1260,
                "settings": {
                    "slidesToScroll": 2,
                    "slidesToShow": {{theme_settings.instagram_column}}
                }
            },
            {
                "breakpoint": 800,
                "settings": {
                    "slidesToScroll": 2,
                    "slidesToShow": 3
                }
            },
            {
                "breakpoint": 550,
                "settings": {
                    "slidesToScroll": 2,
                    "slidesToShow": 2
                }
            }
        ]}'
></div>
