<div class="emthemesModez-instafeed-container">
    {{#unless hide_heading}}
    <div class="emthemesModez-instafeed-content">
        <h2 class="page-heading">{{lang 'instagram.title'}}</h2>
        <div class="emthemesModez-instafeed-desc">{{{lang 'instagram.description'}}}</div>
    </div>
    {{/unless}}
    <div id="instafeed" class="emthemesModez-instafeed"></div>
</div>

<script src="{{cdn '/assets/vendor/instafeed/instafeed.min.js'}}"></script>
<script>
// <![[
    (function() {
        "use strict";
        var feed = new Instafeed({
            get: 'user',
            userId: '{{lang "instagram.user_id"}}',
            clientId: '{{lang "instagram.client_id"}}',
            accessToken: '{{lang "instagram.access_token"}}',
            resolution: 'standard_resolution',
            template: '<div class="emthemesModez-instafeed-item"><a href="{'+'{link}}" target="_blank" id="{'+'{id}}"><img src="{'+'{image}}" /></a></div>',
            sortBy: 'most-recent',
            limit: 10,
            links: false
        });
        feed.run();
    })();
// ]]>
</script>
