{{#if banners.top_metadata}}
    {{#each banners.top_metadata}}
        {{#if (occurrences this.content 'emthemesModezBannersBlockNewsletterPopup') '>' 0}}
            {{{this.content}}}
        {{/if}}
    {{/each}}
{{/if}}
<form id="newsletterPopup-form" class="form" action="{{urls.subscribe.action}}" method="post">
    <fieldset class="form-fieldset">
        <input type="hidden" name="action" value="subscribe">
        <input type="hidden" name="nl_first_name" value="bc">
        <input type="hidden" name="check" value="1">
        <div class="form-field">
            <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
            <div class="form-prefixPostfix wrap">
                <input class="form-input form-prefixPostfix-input" id="nl_email" name="nl_email" type="email" value="{{customer.email}}"
                    placeholder="{{lang 'newsletter.email_placeholder'}}">
                <input class="button form-prefixPostfix-button--postfix" type="submit" value="{{lang 'newsletter.subscribe_submit'}}">
            </div>
        </div>
        <div class="form-field">
            <input type="checkbox" class="form-checkbox" name="hide" id="newsletterPopup-input-hide" value="1" />
            <label class="form-label {{class}}" for="newsletterPopup-input-hide">{{lang 'newsletter.hide_popup_msg'}}</label>
        </div>
    </fieldset>
</form>
