<article class="footer-info-col" data-section-type="footer-webPages">
    <h5 class="footer-info-heading">{{lang (concat (concat 'emthemesmodez.footer.links_col_' index) '.heading')}}</h5>
    <ul class="footer-info-list">
        {{> components/emthemes-modez/common/footer-links-item langPrefix=(concat (concat 'emthemesmodez.footer.links_col_' index) '.row_1') }}
        {{> components/emthemes-modez/common/footer-links-item langPrefix=(concat (concat 'emthemesmodez.footer.links_col_' index) '.row_2') }}
        {{> components/emthemes-modez/common/footer-links-item langPrefix=(concat (concat 'emthemesmodez.footer.links_col_' index) '.row_3') }}
        {{> components/emthemes-modez/common/footer-links-item langPrefix=(concat (concat 'emthemesmodez.footer.links_col_' index) '.row_4') }}
        {{> components/emthemes-modez/common/footer-links-item langPrefix=(concat (concat 'emthemesmodez.footer.links_col_' index) '.row_5') }}
        {{> components/emthemes-modez/common/footer-links-item langPrefix=(concat (concat 'emthemesmodez.footer.links_col_' index) '.row_6') }}
        {{> components/emthemes-modez/common/footer-links-item langPrefix=(concat (concat 'emthemesmodez.footer.links_col_' index) '.row_7') }}
        {{> components/emthemes-modez/common/footer-links-item langPrefix=(concat (concat 'emthemesmodez.footer.links_col_' index) '.row_8') }}
        {{> components/emthemes-modez/common/footer-links-item langPrefix=(concat (concat 'emthemesmodez.footer.links_col_' index) '.row_9') }}
        {{> components/emthemes-modez/common/footer-links-item langPrefix=(concat (concat 'emthemesmodez.footer.links_col_' index) '.row_10') }}
    </ul>
</article>
