<div class="emthemesModez-productLoading">
	<div class="emthemesModez-productLoading-item"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn theme_settings.image_product_loading}}" alt="loading" title="loading" /></div>
	<div class="emthemesModez-productLoading-item"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn theme_settings.image_product_loading}}" alt="loading" title="loading" /></div>
	<div class="emthemesModez-productLoading-item"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn theme_settings.image_product_loading}}" alt="loading" title="loading" /></div>
	<div class="emthemesModez-productLoading-item"><img class="lazyload" data-sizes="auto" src="{{cdn 'img/loading.svg'}}" data-src="{{cdn theme_settings.image_product_loading}}" alt="loading" title="loading" /></div>
</div>