<div class="sidebarBlock sidebarBlock--banner emthemesModezBannersBlockSidebar03">
    <div class="emthemesModez-bannersContainer">
        <div class="emthemesModez-banner">
            <div class="emthemesModez-banner-figure">
                <a href="#"><img class="emthemesModez-banner-image" title="Fullscreen Banner" src="https://placehold.it/270x270" alt="Sample Banner" /></a>
            </div>
        </div>
    </div>
</div>

<div class="sidebarBlock sidebarBlock--textBlock sidebarBlock--mobileCollapsible emthemesModezBannersBlockSidebar03">
    <h5 class="sidebarBlock-heading is-open" data-collapsible="#sidebar-textBlock01" data-collapsible-disabled-breakpoint="medium" aria-expanded="true">Custom Block</h5>
    <div id="sidebar-textBlock01" class="sidebarBlock-content is-open">
        <p>Custom block displayed at the left sidebar. You can put your own content here: text, html, images, media... whatever you like.</p>
        <p>Here are many similar sample content placeholders across the store. All editable from admin panel.</p>
        <p><a href="#" class="button">Sample Button</a></p>
    </div>
</div>

<div class="sidebarBlock sidebarBlock--banner emthemesModezBannersBlockSidebar03">
    <div class="emthemesModez-bannersContainer">
        <div class="emthemesModez-banner">
            <div class="emthemesModez-banner-figure">
                <a href="#"><img class="emthemesModez-banner-image" title="Fullscreen Banner" src="https://placehold.it/270x450" alt="Sample Banner" /></a>
            </div>
        </div>
    </div>
</div>
