{{#if posts}}
<div class="sidebarBlock sidebarBlock--blog">
    <h5 class="sidebarBlock-heading" data-collapsible="#sidebar-blog-navList" data-collapsible-disabled-breakpoint="medium" aria-expanded="false">{{lang 'blog.recent_posts'}}</h5>
    <ul class="navList">
        {{#each posts}}
        <li class="navList-item">
            {{> components/blog/post post=this hide_social_icons=true settings=../settings hide_summary=../hide_summary hide_readmore=../hide_readmore}}
        </li>
        {{/each}}
    </ul>
</div>
{{/if}}