<div class="sidebarBlock sidebarBlock--navList sidebarBlock--brands sidebarBlock--mobileCollapsible">
    <h5 class="sidebarBlock-heading" data-collapsible="#brands-navList" data-collapsible-disabled-breakpoint="medium" aria-expanded="false">{{lang 'footer.brands'}}</h5>
    <ul id="brands-navList" class="navList" aria-hidden="true">
        {{#each shop_by_brand}}
        <li class="navList-item"><a class="navList-action" data-instantload href="{{url}}" title="{{name}}">{{name}}</a></li>
        {{/each}}
        <li class="navList-item"><a class="navList-action" data-instantload href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
    </ul>
</div> 