{{#if context.sidebar_subcategories}}
    {{> components/papa-supermarket/sidebar/subcategories-menu-list category=current_category subcategories=context.sidebar_subcategories}}
{{else}}
    {{#each categories}}
        {{#unless ../context.sidebar_subcategories}}
            {{#if id '==' ../../current_category.id}}
                {{#if (merge ../../../context sidebar_subcategories=children)}}{{/if}}
            {{/if}}
            {{#if children}}
                {{> components/papa-supermarket/sidebar/subcategories-menu-find categories=children current_category=../../../current_category theme_settings=../../../theme_settings context=../../../context}}
            {{/if}}
        {{/unless}}
    {{/each}}
{{/if}}
