{{#if page.sub_pages}}
<div class="sidebarBlock sidebarBlock--navList sidebarBlock--mobileCollapsible">
    <h5 class="sidebarBlock-heading sidebarBlock-heading--subpages is-open" data-collapsible="#subpages-navList" data-collapsible-disabled-breakpoint="medium" aria-expanded="true">{{page.title}}</h5>
    <ul id="subpages-navList" class="navList is-open" aria-hidden="false">
        {{#each page.sub_pages}}
        <li class="navList-item"><a class="navList-action" href="{{url}}" title="{{title}}">{{title}}</a></li>
        {{/each}}
    </ul>
</div>
{{/if}}