.papaSupermarket-categoriesList {
    @include u-listBullets("none");
    @include grid-row($behavior: "nest");
    font-size: 0; // 1

    a {
        text-decoration: none;
        color: $color-textBase;

        &:hover {
            color: $color-textBase-hover;
        }

        &:active {
            color: $color-textBase-active;
        }
    }
}

.papaSupermarket-categoriesList-item {
    @include grid-column(6, $float: none);
    font-size: fontSize("base"); // 1
    vertical-align: top;
    display: inline-flex;
    align-items: flex-start;

    &:nth-child(2) ~ .papaSupermarket-categoriesList-item {
        margin-top: spacing("single");
    }

    @include breakpoint("medium") {
        width: grid-calc(3, $total-columns);

        &:nth-child(2) ~ .papaSupermarket-categoriesList-item {
            margin-top: 0;
        }

        &:nth-child(4) ~ .papaSupermarket-categoriesList-item {
            margin-top: spacing("single");
        }
    }
}

.papaSupermarket-categoriesList-item-image {
    flex-basis: auto;
}

.papaSupermarket-categoriesList-item-body {
    flex: 1;
    
    .papaSupermarket-categoriesList-item-image + & {
        margin-left: spacing("single");
    }
}

.papaSupermarket-categoriesList-item-name {
    margin: 0 0 spacing("half");

    @if $theme-style == "compact" {
        font-size: fontSize("base");
    }
}

.papaSupermarket-subCategoriesList {
    @include u-listBullets("none");	
}

.papaSupermarket-subCategoriesList-item {
    padding: spacing("eighth") 0;

    @if $theme-style == "compact" {
        font-size: fontSize("smaller");
    }
}

.papaSupermarket-categoriesList-item-moreLink {
    margin-top: spacing("half");

    @if $theme-style == "compact" {
        font-size: fontSize("smaller");
    }

    a {
        font-weight: fontWeight("bold");
        text-decoration: none;
    }
}


// If enable showing images
// ----------------------------------------------------------------------------
.papaSupermarket-categoriesList-section--hasImage {
    .papaSupermarket-categoriesList-item {
        width: grid-calc(12, $total-columns);

        &:nth-child(1) ~ .papaSupermarket-categoriesList-item {
            margin-top: spacing("single");
        }

        @include breakpoint("small") {
            width: grid-calc(6, $total-columns);

            &:nth-child(1) ~ .papaSupermarket-categoriesList-item {
                margin-top: 0;
            }

            &:nth-child(2) ~ .papaSupermarket-categoriesList-item {
                margin-top: spacing("single");
            }
        }

        @include breakpoint("medium") {
            width: grid-calc(4, $total-columns);

            &:nth-child(2) ~ .papaSupermarket-categoriesList-item {
                margin-top: 0;
            }

            &:nth-child(3) ~ .papaSupermarket-categoriesList-item {
                margin-top: spacing("single");
            }
        }
    }

    .papaSupermarket-categoriesList-item-image {
        max-width: 40%;

        @include breakpoint("large") {
            max-width: none;
        }
    }
}
