---
blog:
    posts:
        limit: {{theme_settings.blog_count}}
        pages: 3
        summary: 500
products:
    new:
        limit: 5
---
{{#partial "head"}}
    {{#if pagination.blog.previous}}
        <link rel="prev" href="{{pagination.blog.previous}}">
    {{/if}}
    {{#if pagination.blog.next}}
        <link rel="next" href="{{pagination.blog.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}



<div class="page u-emthemesModez-page-responsiveSidebar">

    <aside class="page-sidebar">
        {{> components/emthemes-modez/blog/sidebar}}
    </aside>

    <main class="page-content">
        <div class="page-content-header">
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
            <h1 class="page-heading">{{ blog.name }}</h1>
        </div>
        {{{region name="blog_content--global"}}}
        {{{region name="blog_content"}}}
        <div class="page-content-body {{#if theme_settings.blog_style '==' 'featured'}}emthemesModez-blog--2col-featured{{else}}emthemesModez-blog--{{theme_settings.blog_style}}{{/if}}">
            {{#each blog.posts}}
                {{> components/blog/post post=this settings=../settings hide_social_icons=true}}
            {{/each}}
            {{> components/common/paginator pagination.blog instantload=true}}
        </div>
        {{{region name="blog_bottom"}}}
        {{{region name="blog_bottom--global"}}}
    </main>

</div>

{{/partial}}
{{#if is_ajax}}
    {{> layout/instantload-base}}
{{else}}
    {{> layout/base}}
{{/if}}
