---
cart: true
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
shop_by_brand:
    limit: {{theme_settings.max_shop_by_brand}}
---
{{inject 'cancelButtonText' (lang 'common.cancel')}}
{{#partial "page"}}
<div class="page">

    {{#if theme_settings.layout '===' 'left-sidebar'}}
    <div class="page-sidebar">
        {{> components/papa-supermarket/home/sidebar}}
    </div>
    {{/if}}

    <main class="page-content" data-cart>
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        
        {{> components/cart/page-title}}

        {{{region name="cart_below_title"}}}

        <div data-cart-status>
            {{> components/cart/status-messages}}
        </div>

        {{{region name="cart_before_content"}}}

        {{#if cart.items.length}}
            <div class="loadingOverlay"></div>

            <div class="cart-contentWrapper" data-cart-content>
                {{> components/cart/content}}
            </div>

            {{{region name="cart_below_content"}}}

            <div class="cart-totalsWrapper" data-cart-totals>
                {{> components/cart/totals}}
            </div>

            {{{region name="cart_below_totals"}}}

            {{#if cart.show_primary_checkout_button}}
                <div class="cart-actions">
                    <a class="button button--primary" href="{{urls.checkout.single_address}}" title="{{lang 'cart.checkout.title'}}">{{lang 'cart.checkout.button'}}</a>
                    {{#if cart.show_multiple_address_shipping}}
                        <a class="checkoutMultiple" href="{{urls.checkout.multiple_address}}">
                            {{lang 'cart.preview.checkout_multiple'}}
                        </a>
                    {{/if}}
                </div>
            {{else}}
                <div class="cart-actions">
                    <a class="button" href="{{urls.home}}" title="{{lang 'cart.continue_shopping'}}">{{lang 'cart.continue_shopping'}}</a>
                </div>
            {{/if}}

            <div data-cart-additional-checkout-buttons class="cart-additionalCheckoutButtons">
                {{> components/cart/additional-checkout-buttons}}
            </div>
        {{else}}
            <h3 class="cart-emptyText">{{lang 'cart.checkout.empty_cart'}}</h3>
            {{{region name="cart_below_content"}}}
            {{{region name="cart_below_total"}}}
        {{/if}}

        {{{snippet 'cart'}}}

        {{{region name="cart_bottom"}}}
    </main>
</div>
{{/partial}}
{{> layout/base}}
