---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
customer:
    recently_viewed_products:
        limit: {{theme_settings.product_recently_viewed}}
shop_by_brand:
    limit: {{theme_settings.max_shop_by_brand}}
---
{{#partial "page"}}

<main class="page">

    {{#if theme_settings.layout '===' 'left-sidebar'}}
        <div class="page-sidebar">
            {{> components/papa-supermarket/home/sidebar}}
        </div>
    {{else}}
        {{#if page.sub_pages}}
            <div class="page-sidebar page-sidebar--right">
                {{> components/papa-supermarket/sidebar/subpages}}
            </div>
        {{/if}}
    {{/if}}
    
    <div id="contact-us-page" class="page-content {{#if theme_settings.layout '!==' 'left-sidebar'}}{{#unless page.sub_pages}}page-content--centered{{/unless}}{{/if}}">
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        <h1 class="page-heading">{{ page.title }}</h1>

        <div class="page-content-body">
        {{#if forms.contact.success}}
            <div id="contact-us-success">{{{lang 'forms.contact_us.successful' shopPath=urls.home}}}</div>
        {{else}}
            <p>{{{page.content}}}</p>
            {{> components/page/contact-us-form}}
        {{/if}}
        </div>

    </div>

</main>

{{/partial}}

{{> layout/base}}
