---
products:
    new:
        limit: {{theme_settings.specialProductsTab_init_count}}
    featured:
        limit: {{theme_settings.specialProductsTab_init_count}}
    top_sellers:
        limit: {{theme_settings.specialProductsTab_init_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
customer:
    recently_viewed_products:
        limit: {{theme_settings.product_recently_viewed}}
shop_by_brand:
    limit: {{theme_settings.max_shop_by_brand}}
---
{{#if theme_settings.layout '===' 'left-sidebar'}}
    {{#partial "page"}}
        <div class="page">
            <div class="page-sidebar">
                {{> components/papa-supermarket/home/sidebar}}
            </div>
            <main class="page-content">
                {{{region name="home_below_menu"}}}
                {{> components/papa-supermarket/home/hero}}
                {{{region name="home_below_carousel"}}}
                {{> components/papa-supermarket/home/content}}
            </main>
        </div>
    {{/partial}}
{{else}}
    {{#partial "hero"}}
        {{{region name="home_below_menu"}}}
        {{> components/papa-supermarket/home/hero}}
        {{{region name="home_below_carousel"}}}
    {{/partial}}

    {{#partial "page"}}
        {{> components/papa-supermarket/home/content}}
    {{/partial}}
{{/if}}
{{#and theme_settings.instantload is_ajax}}
    {{> layout/instantload-base}}
{{else}}
    {{> layout/base}}
{{/and}}
