---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
shop_by_brand:
    limit: {{theme_settings.max_shop_by_brand}}
---
{{#partial "page"}}

<main class="page">

    {{#if theme_settings.layout '===' 'left-sidebar'}}
    <div class="page-sidebar">
        {{> components/papa-supermarket/home/sidebar}}
    </div>
    {{/if}}

    <div class="page-content">
        <h1>Order Complete</h1>
    	<p>Your order is complete. How awesome is that!</p>
    </div>
</main>

{{/partial}}

{{> layout/base}}

