---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
shop_by_brand:
    limit: {{theme_settings.max_shop_by_brand}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
customer:
    recently_viewed_products:
        limit: {{theme_settings.product_recently_viewed}}
---
{{#if theme_settings.productpage_layout '==' 'no-sidebar'}}
    {{> pages/custom/product/no-sidebar}}
{{else}}
    {{> pages/custom/product/with-sidebar}}
{{/if}}
