---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
shop_by_brand:
    limit: {{theme_settings.max_shop_by_brand}}
---
{{#partial "page"}}

<main class="page">

    {{#if theme_settings.layout '===' 'left-sidebar'}}
    <div class="page-sidebar">
        {{> components/papa-supermarket/home/sidebar}}
    </div>
    {{/if}}

    <div class="page-content">
        <div class="page-content-header">
            <h1 class="page-heading">{{lang 'sitemap.page_title'}}</h1>
        </div>
        <div class="page-content-body">
            {{#each categories}}
            <div style="margin-top: 40px">
                <a style="font-size:26px;font-weight: 600;text-transform: uppercase;text-decoration: none;" href="{{url}}">{{name}}</a>
                <ul style="display:flex;flex-wrap:wrap;column-gap:70px;row-gap:20px;list-style: none;margin-top:20px">
                    {{#each children}}
                    <li>
                        <a style="font-size:22px;font-weight: 600;text-decoration: none;" href="{{url}}">
                            {{name}}
                        </a>
                        {{#if children}}
                        <hr style="margin: 15px 0;">
                        <ul style="list-style: none;display:flex;flex-direction:column;row-gap:10px">
                            {{#each children}}
                            <li>
                                <a style="font-size:18px;text-decoration: none;" href="{{url}}">
                                    {{name}}
                                </a>
                                {{#if children}}
                                <ul style="list-style: none;">
                                    {{#each children}}
                                    <li>
                                        <a style="font-size:14px;text-decoration: none;" href="{{url}}">
                                            {{name}}
                                        </a>
                                    </li>
                                    {{/each}}
                                </ul>
                                {{/if}}
                            </li>
                            {{/each}}
                        </ul>
                        {{/if}}
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
            <section style="display:flex;flex-wrap:wrap;">
                <article class="footer-info-col" data-section-type="footer-webPages">
                    <p class="footer-info-heading">Who we are</p>
                    <ul class="footer-info-list">
                        <li>
                            <a href="https://gritrsports.com/our-store/">Our Store</a>
                        </li>
                        <li>
                            <a href="https://gritrsports.com/about-us/">About us</a>
                        </li>
                        <li>
                            <a href="https://gritrsports.com/contact-us/">Contact us</a>
                        </li>
                        <li>
                            <a href="https://gritrsports.com/about-the-range/">About the Range</a>
                        </li>
                        <li>
                            <a href="https://gritrsports.com/rental-guns/">Rental Guns</a>
                        </li>
                        <li>
                            <a href="https://waiver.smartwaiver.com/w/5deac9fee92fb/web/">Gun Range Waiver</a>
                        </li>
                        <li>
                            <a href="https://gritrsports.com/careers/">Careers</a>
                        </li>
                    </ul>
                </article>
                <article class="footer-info-col" data-section-type="footer-webPages">
                    <p class="footer-info-heading">Order Information</p>
                    <ul class="footer-info-list">
                        <li>
                            <a href="https://gritrsports.com/secure-ordering-privacy-policy/" >Secure Ordering / Privacy Policy  </a>
                        </li>
                        <li>
                            <a href="https://gritrsports.com/order-cancellation/" >Order Cancellation  </a>
                        </li>
                        <li>
                            <a href="https://gritrsports.com/returns-exchanges-refunds/">Returns / Exchanges / Refunds </a>
                        </li> 
                        <li>
                            <a href="https://gritrsports.com/affiliate-program/">Affiliate Program  </a>
                        </li>
                        <li>
                            <a href="https://gritrsports.com/FAQ/">Faqs  </a>
                        </li>
                    </ul>
                </article>
                   <article class="footer-info-col" data-section-type="footer-webPages">
                    <p class="footer-info-heading">Shipping/Taxes </p>
                    <ul class="footer-info-list">
                        <li>
                            <a href="https://gritrsports.com/us-shipping/">US Shipping </a>
                        </li>
                        <li>
                            <a href="https://gritrsports.com/international-orders-and-shipping/" >International Orders And Shipping </a>
                        </li>
                        <li>
                            <a href="https://gritrsports.com/export-policy/">Export Policy </a>
                        </li>
                    </ul>
                </article>
                  <article class="footer-info-col" data-section-type="footer-webPages">
                    <p class="footer-info-heading">For Customers</p>
                    <ul class="footer-info-list">
                        <li>
                            <a href="https://gritrsports.com/prices-sales-tax-content-policies/">Prices / Sales Tax / Content Policies  </a>
                        </li>
                        <li>
                            <a href="https://gritrsports.com/customer-service/">Customer Service</a>
                        </li>
                        <li>
                            <a href="https://gritrsports.com/state-restrictions/">State Restrictions</a>
                        </li>
                        <li>
                            <a href="https://gritrsports.com/rewards/">Reward program</a>
                        </li>
                        <li>
                            <a href="https://gritrsports.com/ada-statement/">ADA Statement</a>
                        </li>
                        <li>
                            <a href="https://gritrsports.com/cash-for-guns/">Cash For Guns</a>
                        </li>
                    </ul>
                </article>
                <article class="footer-info-col" data-section-type="footer-webPages">
                    <p class="footer-info-heading">Guidelines</p>
                    <ul class="footer-info-list">
                        <li>
                            <a href="https://gritrsports.com/how-to-buy-a-firearm/">How to Buy a Firearm Online</a>
                        </li>
                        <li>
                            <a href="https://gritrsports.com/how-to-buy-a-suppressor-online/">How to Buy a Suppressor Online</a>
                        </li>
                        <li>
                            <a href="https://cdn11.bigcommerce.com/s-lpuqsi1cy6/images/stencil/original/image-manager/gritr-sports-ffl.jpg" >Download FFL Copy</a>
                        </li>
                        <li>
                            <a href="/layaway-in-store-pickup-only/">Layaway (In-Store Pickup Only)</a>
                        </li>
                    </ul>
                </article>
            </section>
        </div>
    </div>
</main>

{{/partial}}

{{> layout/base}}