---
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
shop_by_brand:
    limit: {{theme_settings.max_shop_by_brand}}
---
{{#partial "page"}}

<section class="page">

	{{#if theme_settings.layout '===' 'left-sidebar'}}
    <div class="page-sidebar">
        {{> components/papa-supermarket/home/sidebar}}
    </div>
    {{/if}}
    
    <div class="page-content {{#if theme_settings.layout '!==' 'left-sidebar'}}page-content--centered{{/if}}">
        <h1 class="page-heading">{{lang 'newsletter.unsubscribed_heading'}}</h1>
        {{> components/common/alert-success (lang 'newsletter.unsubscribed_message' store_name=settings.store_name)}}
    </div>
</section>

{{/partial}}
{{> layout/base}}
