@include breakpoint("medium") {
    .navPages-container {
        .navPages {
            display: block;
            position: relative;
        }

        .navPages-list {
            display: inline;

            + .navPages-list {
                margin-top: 0;
                border-top: 0;
                padding-top: 0;
            }

            > .navPages-item {
                display: inline-block;
                float: none;
            }
        }

        .navPages-list--categories {
            .navPage-subMenu.is-open {
                left: 0;
                width: 100%;
            }

            .navPage-subMenu--standard.is-open {
                left: auto;
                width: 20%;
            }
        }

        .navPages-list--user {
            display: none;
        }

        .navPages-socials {
            float: right;
        }

        .navPage-subMenu.is-open {
            z-index: zIndex("low"); // same .navPages-container

            .papaSupermarket-style--modern & {
                z-index: zIndex("low") + 1; // same .navPages-container
            }
        }
    }
}
