// =============================================================================
// Banners Component
// =============================================================================


// Banners
// -----------------------------------------------------------------------------
//
// Purpose: Control the look and feel of the top and bottom site banners
//
// -----------------------------------------------------------------------------

.banners {
    background-color: stencilColor("topBanner-backgroundColor");
    background-image: -webkit-linear-gradient(right, stencilColor("topBanner-backgroundColor") 0%, stencilColor("topBanner-backgroundColorGradient") 100%);
    background-image: -o-linear-gradient(right, stencilColor("topBanner-backgroundColor") 0%, stencilColor("topBanner-backgroundColorGradient") 100%);
    background-image: linear-gradient(to right, stencilColor("topBanner-backgroundColor") 0%, stencilColor("topBanner-backgroundColorGradient") 100%);
    color: stencilColor("topBanner-color");
    padding: 0;



    .banner {
        padding: spacing("half") + spacing("eighth") 0;

        .papaSupermarket-style--modern & {
            max-width: none;
        }
    }

    a {
        color: stencilColor("color-textLink");
    }
}

.banners--bottom {
    margin-bottom: spacing("double");
    background: transparent;
    color: inherit;
    text-align: left;

    > .banner:first-child {
        margin-top: -(spacing("double"));
    }
}

.papaThemesFeatureBanner {
    display:  flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: spacing("quarter");
}

.papaThemesFeatureBanner-item {
    padding: spacing("quarter");
    width: 100%;
    @include breakpoint("small") {
        width: 50%;
    }
    @include breakpoint("medium") {
        width: 33.3333%;
        + .papaThemesFeatureBanner-item {
            border-left: 1px solid stencilColor("container-border-global-color-base");
            &:nth-child(3n + 1) {
                border-left: 0;
            }
        }
    }
}

.papaThemesFeatureBanner-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: fontWeight("bold");
}

.papaThemesFeatureBanner-icon,
.papaThemesFeatureBanner-item img {
    margin-right: spacing("half");
    max-height: spacing("single");
}
