{{{snippet 'forms_search'}}}

<form class="advancedSearch-form" action="{{forms.search.action}}" data-advanced-search-form id="advanced-search-content">
    <div class="sidebarBlock sidebarBlock--advancedSearch">
        <h5 class="sidebarBlock-heading" data-collapsible="#advancedSearch-content" data-collapsible-disabled-breakpoint="medium" aria-expanded="false">{{lang 'forms.search.title'}}</h5>
        <div class="sidebarBlock-content" id="advancedSearch-content">
            <div class="accordion">

                <!-- Search query field -->
                <div class="accordion-block">
                    <div class="accordion-navigation toggleLink is-open" role="button" data-collapsible="#advancedSearch-content--query" aria-controls="advancedSearch-content--query" aria-expanded="true">
                        <h5 class="accordion-title">
                            <label for="search_query_adv">{{lang 'forms.search.query' }} <small>{{lang 'common.required' }}</small></label>
                        </h5>
                    
                        <div class="accordion-navigation-actions">
                            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--off"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-add"></use></svg>
                            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--on"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-remove"></use></svg>
                        </div>
                    </div>

                    <div id="advancedSearch-content--query" class="accordion-content is-open" aria-hidden="false">
                        <input type="text" class="form-input form-input--small" name="search_query_adv" data-error-message="{{lang 'search.error.empty_field'}}" id="search_query_adv" value="{{{sanitize forms.search.query}}}">
                    </div>
                </div>

                <!-- Search by categories -->
                <div class="accordion-block">
                    <div class="accordion-navigation toggleLink is-open" role="button" data-collapsible="#advancedSearch-content--categories" aria-controls="advancedSearch-content--categories" aria-expanded="true">
                        <h5 class="accordion-title">
                            <label>{{lang 'forms.search.categories' }}</label>
                        </h5>
                    
                        <div class="accordion-navigation-actions">
                            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--off"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-add"></use></svg>
                            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--on"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-remove"></use></svg>
                        </div>
                    </div>

                    <div id="advancedSearch-content--categories" class="accordion-content is-open" aria-hidden="false">
                        <div class="form-field-group" data-search-category-tree></div>

                        <div class="form-field">
                            <input type="checkbox" class="form-checkbox" name="searchsubs" value="ON" id="search-form-searchsubs" checked>
                            <label class="form-label" for="search-form-searchsubs">{{lang 'forms.search.searchsubs'}}</label>
                        </div>
                    </div>
                </div>

                <!-- Search by brands -->
                <div class="accordion-block">
                    <div class="accordion-navigation toggleLink is-open" role="button" data-collapsible="#advancedSearch-content--brand" aria-controls="advancedSearch-content--brand" aria-expanded="true">
                        <h5 class="accordion-title">
                            <label for="search-form-brand">{{lang 'forms.search.brand' }}</label>
                        </h5>
                    
                        <div class="accordion-navigation-actions">
                            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--off"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-add"></use></svg>
                            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--on"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-remove"></use></svg>
                        </div>
                    </div>

                    <div id="advancedSearch-content--brand" class="accordion-content is-open" aria-hidden="false">
                        <select class="form-select form-select--small" name="brand" id="search-form-brand">
                            <option value="">{{lang 'common.no_preference'}}</option>
                            {{#each forms.search.brands_list}}
                                <option value="{{id}}" {{#if ../forms.search.values.brand '==' id}}selected{{/if}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

                <!-- Search price range -->
                <div class="accordion-block">
                    <div class="accordion-navigation toggleLink is-open" role="button" data-collapsible="#advancedSearch-content--price" aria-controls="advancedSearch-content--price" aria-expanded="true">
                        <h5 class="accordion-title">
                            <label for="search-form-price_from">{{lang 'forms.search.by_price'}}</label>
                        </h5>
                    
                        <div class="accordion-navigation-actions">
                            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--off"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-add"></use></svg>
                            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--on"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-remove"></use></svg>
                        </div>
                    </div>

                    <div id="advancedSearch-content--price" class="accordion-content is-open" aria-hidden="false">
                        <div class="form-field search-price-range">
                            <p class="form-label" for="search-form-price_from">
                                {{lang 'forms.search.price_range' }}
                            </p>
                            <label>
                                <span class="is-srOnly">{{lang 'forms.search.price_range' }}</span>
                                <span>{{lang 'common.from'}}</span><input type="number" step="any" class="form-input form-input--small" name="price_from" id="search-form-price_from" value="{{forms.search.values.price_from}}">
                            </label>
                            <label>
                                <span class="is-srOnly">{{lang 'forms.search.price_range' }}</span>
                                <span>{{lang 'common.to'}}</span><input type="number" step="any" class="form-input form-input--small" name="price_to" id="search-form-price_to" value="{{forms.search.values.price_to}}">
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Search by setting -->
                <div class="accordion-block">
                    <div class="accordion-navigation toggleLink is-open" role="button" data-collapsible="#advancedSearch-content--setting" aria-controls="advancedSearch-content--setting" aria-expanded="true">
                        <h5 class="accordion-title">
                            {{lang 'forms.search.by_setting'}}
                        </h5>
                    
                        <div class="accordion-navigation-actions">
                            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--off"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-add"></use></svg>
                            <svg class="icon accordion-indicator toggleLink-text toggleLink-text--on"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-remove"></use></svg>
                        </div>
                    </div>

                    <div id="advancedSearch-content--setting" class="accordion-content is-open" aria-hidden="false">
                        <div class="form-field">
                            <label class="form-label" for="search-form-featured">
                                {{lang 'forms.search.featured_products.title' }}
                            </label>
                            <select class="form-select form-select--small" name="featured" id="search-form-featured">
                                <option value="">{{lang 'common.no_preference'}}</option>
                                <option value="1" {{#if forms.search.values.featured_products '===' '1'}}selected{{/if}}>{{lang 'forms.search.featured_products.enabled' }}</option>
                                <option value="2" {{#if forms.search.values.featured_products '===' '2'}}selected{{/if}}>{{lang 'forms.search.featured_products.disabled' }}</option>
                            </select>
                        </div>
                        <div class="form-field">
                            <label class="form-label" for="search-form-shipping">
                                {{lang 'forms.search.free_shipping.title' }}
                            </label>
                            <select class="form-select form-select--small" name="shipping" id="search-form-shipping">
                                <option value="">{{lang 'common.no_preference'}}</option>
                                <option value="1" {{#if forms.search.values.free_shipping '===' '1'}}selected{{/if}}>{{lang 'forms.search.free_shipping.free' }}</option>
                                <option value="2" {{#if forms.search.values.free_shipping '===' '2'}}selected{{/if}}>{{lang 'forms.search.free_shipping.paid' }}</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div><!-- .accordion -->

            <div class="form-actions">
                <input id="advanced-search-submit" class="button button--primary" type="submit" value="{{lang 'forms.search.search' }}">
            </div>
        </div><!-- .sidebarBlock-content -->

    </div><!-- .sidebarBlock -->
</form>
    
