{{#if theme_settings.layout '===' 'left-sidebar'}}
    {{> components/papa-supermarket/home/sidebar}}
{{else}}
<nav class="navList navList--aside">
    
    {{#if theme_settings.layout '===' 'left-sidebar'}}
        {{> components/papa-supermarket/sidebar/categories-menu}}
	{{/if}}
	
	{{> components/papa-supermarket/sidebar/recently-viewed-products}}

    <div class="sidebarBlock">
    	<h5 class="sidebarBlock-heading">{{lang 'products.new'}}</h5>
    	<ul class="productList" data-product-type="new">
	        {{#each products.new}}
	            <li class="product">
	                {{>components/products/list-item 
	                	show_rating=false
	                	summary=false
	                	hide_add_to_cart=true
	                	show_compare=../show_compare 
	                	show_rating=../settings.show_product_rating 
                        hide_product_quick_view=true
	                	theme_settings=../theme_settings customer=../customer}}
	            </li>
	        {{/each}}
	    </ul>	
	</div>
    
</nav>
{{/if}}
