.videoGallery--inTab,
#videoGallery-content.is-open {
    @include breakpoint("medium") {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.videoGallery-main {
    padding: 0;
    height: auto;

    @include breakpoint("medium") {
        width: calc(#{width("8/12")} - #{$column-gutter / 2});
    }

    &:after {
        content: '';
        display: block;
        height: 0;
        padding-bottom: 67.5%;
    }
}

.videoGallery-list {
    @include breakpoint("medium") {
        width: calc(#{width("4/12")} - #{$column-gutter / 2});
        margin: 0;
    }
}

.videoGallery-item {
    @include breakpoint("medium") {
        width: 100%;
        padding: 0;
    }
}

.video-title {
    margin-bottom: spacing("quarter");
    font-size: fontSize("base");
    line-height: 1.35;
}

.video-description {
    line-height: 1.35;
}

.video-figure {
    @include breakpoint("medium") {
        margin-right: $column-gutter / 2;
    }
}

.tab-content {
    .videoGallery {
        overflow: hidden;
    }

    .videoGallery-main {
        @include breakpoint("medium") {
            margin: 0;
        }
    }
}


.papaSupermarket-style--modern {
    .videoGallery {
        margin: spacing("single") 0 0;
        border: 0;

        .toggle-title {
            font-size: fontSize("small");
            padding: 0 spacing("single");
            margin: 0 0 spacing("half");
            font-weight: fontWeight("normal");

            @include breakpoint("medium") {
                font-size: fontSize("large");
                padding: 0 spacing("half");
            }
        }

        .toggle-title-heading {
            @include breakpoint("medium") {
                display: inline-block;
                border-bottom: 2px solid stencilColor("color-textHeading");
            }
        }
    
        .toggle-content.is-open {
            padding: spacing("quarter");
            background-color: container("fill");
            border: container("border");
            border-radius: $container-border-radius;
            box-shadow: 0 3px 0 container("borderColor");

            @include breakpoint("medium") {
                padding: spacing("single");
            }
        }
    }

    .tab-content .videoGallery {
        margin: 0;
    }
    
    .videoGallery-list {
        margin: 0 (-(spacing("quarter")));

        @include breakpoint("medium") {
            margin: 0;
        }
    }

    .videoGallery-item {
        padding: 0 spacing("quarter");

        @include breakpoint("medium") {
            padding: 0;
        }
    }
}
