// =============================================================================
// CART (CSS)
// =============================================================================

.cart-emptyText {
    margin: 0;
    text-align: center;
    font-size: fontSize("base");
}


// Cart layout
// -----------------------------------------------------------------------------

.cart-header-item {
    text-transform: uppercase;
}

// Cart content
// -----------------------------------------------------------------------------

.cart-item-figure {
    position: relative;
    height: auto;
    margin-bottom: spacing("half");
    
    @include breakpoint("small") {
        margin-bottom: 0;
    }
}

.cart-remove {
    background-color: transparent;
    width: auto;
    height: auto;
    float: none;
    margin-left: spacing("half");
    color: $color-textBase;
}

.cart-item-name {
    margin-bottom: spacing("half");
    font-size: fontSize("base");

    a {
        text-decoration: none;
        color: $card-title-color;

        &:hover,
        &:focus {
            color: $card-title-color-hover;
        }
    }
}

.cart-item-block {
    .definitionList {
        font-size: fontSize("smaller");
    }
}

.cart-item-title {
    a {
        color: $color-textLink;

        &:hover,
        &:focus {
            color: $color-textLink-hover;
        }

        &:active {
            color: $color-textLink-active;
        }
    }
}

.cart-item-image {
    max-height: 100%;
    margin: auto;
}

.cart-item-info {
    margin-top: spacing("half");
    @include breakpoint("small") {
        margin-top: 0;
    }
}

.cart-item-quantity {
    @include breakpoint("medium") {
        white-space: nowrap;
    }
}

.cart-item-options {
    font-size: fontSize("smaller");
}

.cart-item-options--giftWrapping {
    margin-top: spacing("half");
    margin-bottom: spacing("half");
}

.cart-item-option-description {
    margin-bottom: spacing("half");
}


// Cart totals
// -----------------------------------------------------------------------------

.cart-total {
    .form-input {
        padding-top: 0;
        padding-bottom: 0;
    }

    .form-select {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.cart-total-label {
    padding-top: spacing("quarter");
    padding-bottom: spacing("quarter");
    width: 40%;

    @include breakpoint("medium") {
        width: 50%;
        padding-top: spacing("base");
        padding-bottom: spacing("base");
    }
}

.cart-total-value {
    padding-top: spacing("quarter");
    padding-bottom: spacing("quarter");
    font-weight: fontWeight("bold");
    color: stencilColor("color-textHeading");

    @include breakpoint("medium") {
        padding-top: spacing("base");
        padding-bottom: spacing("base");
    }
}

.cart-total-grandTotal {
    font-size: fontSize("larger");
    color: stencilColor("color-price");
    line-height: 1;

    @include breakpoint("medium") {
        line-height: inherit;
    }
}

.shipping-quotes {
    .estimator-form-label {
        text-align: left;
    }

    dl {
        display: grid;
        grid-template-columns: auto max-content;
        grid-gap: spacing("half");
        margin-bottom: 0;
    }
}


// Cart actions
// -----------------------------------------------------------------------------
.coupon-code-add,
.coupon-code-cancel,
.shipping-estimate-show,
.shipping-estimate-hide,
.gift-certificate-add,
.gift-certificate-cancel {
    color: $color-textLink;

    &:hover {
        color: $color-textLink-hover;
    }

    &:active {
        color: $color-textLink-active;
    }
}

.cart-actions {
    margin-bottom: spacing("base");
    
    @include breakpoint("small") {
        margin-left: auto;
        margin-right: 0;
        width: grid-calc(9, $total-columns);
    }

    @include breakpoint("medium") {
        width: grid-calc(7, $total-columns);
    }

    @include breakpoint("large") {
        width: grid-calc(5, $total-columns);
    }

    .button {
        display: block;
        float: none;

        @if $theme-style == "compact" {
            padding-top: spacing("half") + spacing("quarter");
            padding-bottom: spacing("half") + spacing("quarter");
        }
    }
}

.cart-additionalCheckoutButtons {
    @include breakpoint("small") {
        width: grid-calc(9, $total-columns);
        margin-left: auto;
        margin-right: 0;
    }
    @include breakpoint("medium") {
        width: grid-calc(7, $total-columns);
    }
    @include breakpoint("large") {
        width: grid-calc(5, $total-columns);
    }
}

// Cart Preview
// ----------------------------------------------------------------------------

.previewCartListWrapper {
    [data-stickymenu] & {
        @include breakpoint("medium") {
            display: block;
            overflow: auto;
            max-height: calc(100vh - 350px);
        }
    }
}

.previewCartItem-content {
    @include clearfix;
    padding-top: spacing("quarter");
    padding-bottom: spacing("quarter");
}

.previewCartItem-remove {
    float: right;
}

.previewCartItem-remove-icon {
    color: $color-textBase;
}

.previewCart-additionalCheckoutButtons {
    clear: both;
    text-align: center;
}

.definitionList--previewCartItem {
    font-size: fontSize("smallest");
    margin-bottom: spacing("eighth");
}

// ----------------------------------------------------------------------------
// Modern Style
// ----------------------------------------------------------------------------
.papaSupermarket-style--modern {
    .cart-contentWrapper {
        background: container("fill");
        border: container("border");
        border-radius: $container-border-radius;
        box-shadow: 0 3px 0 container("borderColor");
        
        @media (max-width: (screenSize("medium") - 1px)) {
            margin: 0 spacing("quarter");
        }
    }

    .cart {
        width: calc(100% - #{spacing("quarter") * 2});
        margin: 0 auto;

        @include breakpoint("medium") {
            width: 100%;
        }
    }

    .cart-header-item {
        padding: spacing("quarter") spacing("half");
    }

    .cart-header-total {
        @include breakpoint("medium") {
            padding-left: spacing("single");
            padding-right: spacing("single");
        }
    }

    .cart-list {
        @media (max-width: (screenSize("medium") - 1px)) {
            border-top: 0;
        }
    }

    .cart-item {
        padding: spacing("half") 0;

        &:last-child {
            border-bottom: 0;
        }

        @include breakpoint("small") {
            padding-left: 25%;
        }

        @include breakpoint("medium") {
            padding-left: 0;
        }
    }

    .cart-remove {
        top: 0;
        left: spacing("half");
    }

    .cart-item-block {
        @include breakpoint("medium") {
            padding: spacing("quarter") spacing("half");
        }
    }

    .cart-item-figure {
        @include breakpoint("medium") {
            width: 10%;
        }
    }

    .cart-item-image {
        @include breakpoint("medium") {
            left: spacing("half");
            right: spacing("half");
            max-width: calc(100% - #{spacing("single")});
        }
    }

    .cart-item-options--giftWrapping {
        margin-top: spacing("half");
        margin-bottom: spacing("half");
    }
    
    .cart-item-option-description {
        margin-bottom: spacing("half");
    }

    .cart-item-total {
        @include breakpoint("medium") {
            padding-left: spacing("single");
            padding-right: spacing("single");
        }
    }

    .cart-totalsWrapper {
        padding: 0 spacing("quarter");

        @include breakpoint("medium") {
            padding: 0;
        }
    }

    .cart-totals {
        margin-top: spacing("single");
        background: container("fill");
        border: container("border");
        border-radius: $container-border-radius;
        box-shadow: 0 3px 0 container("borderColor");
        padding: spacing("quarter");

        @include breakpoint("medium") {
            padding: spacing("half") spacing("single");
        }
    }

    .cart-total-label,
    .cart-total-value {
        @include breakpoint("medium") {
            padding: spacing("half") 0;
        }
    }

    .cart-total-label {
        color: $color-textBase;
    }

    .coupon-code-add,
    .coupon-code-cancel,
    .shipping-estimate-show,
    .shipping-estimate-hide,
    .gift-certificate-add,
    .gift-certificate-cancel {
        color: $color-primary;
        font-weight: $body-font-weight;
    }

    .cart-actions {
        padding: 0 spacing("quarter");

        @include breakpoint("medium") {
            padding: 0;
        }
    }

    .cart-additionalCheckoutButtons {
        text-align: center;
        padding: 0 spacing("quarter");

        @include breakpoint("medium") {
            padding: 0;
        }

        .FloatRight div {
            float: none;

            @include breakpoint("small") {
                float: right;
                clear: right;
            }
        }
    }
}

.or-use-label {
    display: none;
}

.papaSupermarket-pageType--cart {
    @if $theme-style == "modern" {
        .alertBox {
            @media (max-width: (screenSize("medium") - 1px)) {
                margin-left: spacing("quarter");
                margin-right: spacing("quarter");
            }
        }
    }
}
