{{#each shipping_messages}}
    {{> components/common/alert-info message}}
{{/each}}

<div class="main full">

    {{> components/emthemes-modez/sections/section section=theme_settings.section1}}
    {{{region name="home_below_section1"}}}
    {{> components/emthemes-modez/sections/section section=theme_settings.section2}}
    {{{region name="home_below_section2"}}}
    {{> components/emthemes-modez/sections/section section=theme_settings.section3}}
    {{{region name="home_below_section3"}}}
    {{> components/emthemes-modez/sections/section section=theme_settings.section4}}
    {{{region name="home_below_section4"}}}
    {{> components/emthemes-modez/sections/section section=theme_settings.section5}}
    {{{region name="home_below_section5"}}}
    {{> components/emthemes-modez/sections/section section=theme_settings.section6}}
    {{{region name="home_below_section6"}}}
    {{> components/emthemes-modez/sections/section section=theme_settings.section7}}
    {{{region name="home_below_section7"}}}
    {{> components/emthemes-modez/sections/section section=theme_settings.section8}}
    {{{region name="home_below_section8"}}}
    {{> components/emthemes-modez/sections/section section=theme_settings.section9}}
    {{{region name="home_below_section9"}}}

</div>
