
// ============================================================================
// COMMON
// ============================================================================
.productList {
	margin-bottom: spacing("single") * 2;
}

.listItem {
	@include breakpoint("small") {
		margin: 0;
	}
}

.listItem-figure {
	position: relative;
	@include breakpoint("small") {
		padding: 0 $column-gutter / 2;
	}
}

.listItem-body {
	text-align: center;

	@include breakpoint("small") {
		text-align: inherit;
		padding: 0 $column-gutter / 2;
	}
}

.listItem-rating {
	margin-bottom: $card-text-marginBottom;
}

.listItem-brand {
	margin-bottom: $card-text-marginBottom;
	font-size: inherit;
}

.listItem-title {
    margin-bottom: $card-text-marginBottom;
	font-size: fontSize("base");

	@if $theme-style != "default" {
		font-weight: inherit;
	}
	
	a {
		color: $card-title-color;

		&:hover {
			color: $card-title-color-hover;
		}
	}
}

.listItem-price {
	font-size: fontSize("small");
	font-weight: fontWeight("bold");
	color: stencilColor("color-textHeading");
	margin-bottom: $card-text-marginBottom;

	.papaSupermarket-style--modern & {
		font-size: fontSize("base");
		font-weight: fontWeight("bold");
	}
}

.listItem-actions .button input {
	vertical-align: middle;
}

// Add to cart button
.listItem-actions .button--primary {

}

// ============================================================================
// VARIATIONS
// ============================================================================



.sidebarBlock .productList,
.productList--maxCol1,
.productList--maxCol4 {
	@include grid-row($behavior: "nest");
	font-size: 0; // 1

	.product {
		@include grid-column(6, $float: none);
		display: inline-block;
		font-size: fontSize("base"); // 1
		vertical-align: top;
		overflow: visible;

		@include breakpoint("small") {
			padding: 0 spacing("half");
		}

        + .product {
			margin-top: 0;
			
			@include breakpoint("medium") {
				margin-top: spacing("single");
			}
        }
	}

	.listItem {
		margin-bottom: spacing("single");

		@include breakpoint("small") {
			margin-left: 0;
			margin-right: 0;
		}

		@include breakpoint("medium") {
			position: relative;
			margin-bottom: 0;
			
			&:hover .listItem-buttons {
			    visibility: visible;
			    clip: auto;
			    opacity: 1;
			}
		}
	}

	.listItem-figure {
		@include breakpoint("small") {
			width: 40%;
		}
	}

	.listItem-body {
		@include breakpoint("small") {
			width: 60%;
		}

		@include breakpoint("medium") {
			position: relative;
		}
	}

	.listItem-figure,
	.listItem-body {
		@include breakpoint("small") {
			padding: 0 spacing("half");
		}

		@include breakpoint("large") {
			vertical-align: top;
		}	
	}

	.listItem-content {
		@include breakpoint("large") {
			display: block;
		}
	}

	.listItem-details, 
	.listItem-actions {
		@include breakpoint("large") {
			display: block;
		}
	}

	.listItem-details {
		padding-right: 0;
	}

	.listItem-actions {
		width: auto;
	}

	.listItem-buttons {
		display: none;

		@include breakpoint("small") {
			display: flex;
		}

		@include breakpoint("medium") {
			visibility: hidden;
            clip: rect(0, 0, 0, 0);
            opacity: 0;
			transition: opacity 0.5s ease;
			position: absolute;
			left: spacing("half");
			bottom: -(spacing("quarter"));
			flex-wrap: wrap;
			background: container("fill");
		}

		.button {
			flex: 0;
			margin-right: spacing("quarter");

			@include breakpoint("medium") {
				margin-bottom: spacing("quarter");
			}

			&:first-child {
				flex: 1;
			}

			+ .button {
				margin-top: 0;
				margin-left: 0;
			}
		}
	}


	.button.quickview {
		font-size: 0;
		content: '';
		padding-left: spacing("half");
		padding-right: spacing("half");

		&:before {
			content: '\f002';
			font-family: FontAwesome;
			font-size: fontSize("base");
			vertical-align: middle;
		}
	}
}

.productList--maxCol4 {
	.product {

        @include breakpoint("medium") {
            width: grid-calc(3, $total-columns);
        }

		&:nth-child(2n+1) {
			@include breakpoint("small") {
				clear: both;
			}
			@include breakpoint("medium") {
				clear: none;
			}
        }

        &:nth-child(4n+1) {
			@include breakpoint("medium") {
				clear: both;
			}
        }
	}
}

.productList--maxCol1,
.sidebarBlock .productList {
	@include breakpoint("medium") {
		.product {
			width: grid-calc(12, 12);
		}

		.product:last-child .listItem {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}
	}
}

.sidebarBlock .productList {
	@include breakpoint("medium") {
		.product {
			padding: 0;
		}

		.listItem-figure {
			padding-right: 0;
		}
	}
}

.page-sidebar + .page-content .productList--maxCol1 {
	.listItem-details {
		@include breakpoint("large") {
			padding-right: 0;
		}
	}

	.listItem-actions {
		@include breakpoint("large") {
			width: auto;
		}
	}
}
