<div class="emthemesModez-specialProductsTabs-products">
    {{#if products.featured}}
        {{> components/products/featured 
            products=products.featured
            columns=4 
            hide_heading=true 
            display_type='grid'}}
    {{/if}}
    {{#if products.top_sellers}}
        {{> components/products/top 
            products=products.top_sellers
            columns=4 
            hide_heading=true 
            display_type='grid'}}
    {{/if}}
    {{#if products.new}}
        {{> components/products/new 
            products=products.new
            columns=4 
            hide_heading=true 
            display_type='grid'}}
    {{/if}}
</div>
