.navPage-subMenu-bottomBanners,
.navPage-subMenu-rightBanners {
    display: none;
}

@include breakpoint("medium") {
    .navPages .navPage-subMenu-list {
        width: auto;
    }

    .navPage-subMenu-bottomBanners {
        order: 3;
        width: 100%;
        float: left;
        clear: left;
        margin-top: $column-gutter;

    }

    .navPage-subMenu-rightBanners {
        order: 2;
        width: 25%;
        margin-left: $column-gutter;
        float: right;

        ~ .navPage-subMenu-bottomBanners {
            width: calc(75% - #{$column-gutter});
        }

        ~ .navPage-subMenu-list {
            order: 1;
            width: 75%;
            float: left;
        }
    }

    .navPage-subMenu-bottomBanners,
    .navPage-subMenu-rightBanners {
        display: block;

        .row {
            display: flex;
            margin: 0 (-$column-gutter / 2);
            width: auto;

            + .row {
                margin-top: $column-gutter;
            }
        }

        .column,
        .columns {
            padding: 0 $column-gutter / 2;
        }
    }

    
}


.papaSupermarket-style--modern {
    @include breakpoint("medium") {
        .navPage-subMenu-bottomBanners {
            margin-top: spacing("single");
        }

        .navPage-subMenu-bottomBanners,
        .navPage-subMenu-rightBanners {
            .row {
                + .row {
                    margin-top: spacing("single");
                }
            }

            .column,
            .columns {
                padding: 0 spacing("half");
            }
        }
    }
}
