{{!--
Arguments:
    - index (number)
    - id (number)
    - name (string)
    - url (string)
    - style (string): CSS class styling suffix
    - style2 (string): CSS class styling suffix


Global variables:
    - categories (array)

--}}
{{inject 'hasProductsByCategorySortingTabs' true}}
<div class="emthemesModez-productsByCategoryTabs emthemesModez-productsByCategoryTabs--sorting
        {{#if style}}emthemesModez-productsByCategoryTabs--{{style}}{{/if}}
        {{#if style2}}emthemesModez-productsByCategoryTabs--{{style2}}{{/if}}
    ">
    <ul class="tabs" data-tab data-tab-emthemesmodez-products-by-category-tabs role="tablist">
        <li class="li-heading"><h2 class="page-heading"><a href="{{url}}">{{name}}</a></h2></li>

        {{#if theme_settings.productsByCategorySortingTabs_show_bestselling}}
        <li class="tab{{#if theme_settings.productsByCategorySortingTabs_active '===' 'bestselling'}} is-active{{/if}}" role="presentation"><a class="tab-title" href="#tab-productsByCategoryTabs-bestselling-{{id}}" role="tab" tabindex="0" aria-selected="{{#if theme_settings.productsByCategorySortingTabs_active '===' 'bestselling'}}true{{else}}false{{/if}}" aria-controls="tab-productsByCategoryTabs-bestselling-{{id}}">{{lang 'papasupermarket.products_by_category_sorting_tabs.bestselling' }}</a></li>
        {{/if}}

        {{#if theme_settings.productsByCategorySortingTabs_show_featured}}
        <li class="tab{{#if theme_settings.productsByCategorySortingTabs_active '===' 'featured'}} is-active{{/if}}" role="presentation"><a class="tab-title" href="#tab-productsByCategoryTabs-featured-{{id}}" role="tab" tabindex="0" aria-selected="{{#if theme_settings.productsByCategorySortingTabs_active '===' 'featured'}}true{{else}}false{{/if}}" aria-controls="tab-productsByCategoryTabs-featured-{{id}}">{{lang 'papasupermarket.products_by_category_sorting_tabs.featured' }}</a></li>
        {{/if}}

        {{#if theme_settings.productsByCategorySortingTabs_show_new}}
        <li class="tab{{#if theme_settings.productsByCategorySortingTabs_active '===' 'new'}} is-active{{/if}}" role="presentation"><a class="tab-title" href="#tab-productsByCategoryTabs-new-{{id}}" role="tab" tabindex="0" aria-selected="{{#if theme_settings.productsByCategorySortingTabs_active '===' 'new'}}true{{else}}false{{/if}}" aria-controls="tab-productsByCategoryTabs-new-{{id}}">{{lang 'papasupermarket.products_by_category_sorting_tabs.new' }}</a></li>
        {{/if}}

        {{#if theme_settings.productsByCategorySortingTabs_show_reviews}}
        <li class="tab{{#if theme_settings.productsByCategorySortingTabs_active '===' 'reviews'}} is-active{{/if}}" role="presentation"><a class="tab-title" href="#tab-productsByCategoryTabs-reviews-{{id}}" role="tab" tabindex="0" aria-selected="{{#if theme_settings.productsByCategorySortingTabs_active '===' 'reviews'}}true{{else}}false{{/if}}" aria-controls="tab-productsByCategoryTabs-reviews-{{id}}">{{lang 'papasupermarket.products_by_category_sorting_tabs.reviews' }}</a></li>
        {{/if}}
    </ul>
    {{#or children theme_settings.productsByCategorySortingTabs_showBanner}}
    {{#if theme_settings.productsByCategorySortingTabs_subcategories '>' 0}}
    <div class="emthemesModez-productsByCategoryTabs-details{{#if theme_settings.productsByCategorySortingTabs_showBanner}} emthemesModez-productsByCategoryTabs-details--hasImage{{/if}}">
        {{#if theme_settings.productsByCategorySortingTabs_showBanner}}
        <div class="emthemesModez-productsByCategoryTabs-details-image">
            <a href="{{url}}">{{> components/common/responsive-img-url image=(concat (concat '/product_images/uploaded_images/products-by-category-' (add index 1)) '.jpg?c=2') alt=name lazyload=theme_settings.lazyload_mode}}</a>
        </div>
        {{/if}}
        {{#if children}}
        {{#if theme_settings.productsByCategorySortingTabs_subcategories '>' 0}}
        <div class="emthemesModez-productsByCategoryTabs-details-sub">
            <h3 class="emthemesModez-productsByCategoryTabs-details-sub-heading">{{lang 'papasupermarket.products_by_category_sorting_tabs.subcategory_title'}}</h3>
            <ul class="emthemesModez-productsByCategoryTabs-details-sub-list">
            {{#each (limit children theme_settings.productsByCategorySortingTabs_subcategories)}}
                <li class="emthemesModez-productsByCategoryTabs-details-sub-item"><a href="{{url}}">{{name}}</a></li>
            {{/each}}
            </ul>
        </div>
        {{/if}}
        {{/if}}
    </div>
    {{/if}}
    {{/or}}
    <div class="tabs-contents">
        {{#if theme_settings.productsByCategorySortingTabs_show_bestselling}}
        <section role="tabpanel" aria-hidden="{{#if theme_settings.productsByCategorySortingTabs_active '===' 'bestselling'}}false{{else}}true{{/if}}" class="tab-content{{#if theme_settings.productsByCategorySortingTabs_active '===' 'bestselling'}} is-active{{/if}}" id="tab-productsByCategoryTabs-bestselling-{{id}}" 
            data-emthemesmodez-products-by-category-tabs="{{concat url '?sort=bestselling'}}"
            data-emthemesmodez-template="papa-supermarket/category/ajax-products-by-category-sorting-tabs-result">
            {{> components/emthemes-modez/common/product-loading theme_settings=theme_settings}}
        </section>
        {{/if}}

        {{#if theme_settings.productsByCategorySortingTabs_show_featured}}
        <section role="tabpanel" aria-hidden="{{#if theme_settings.productsByCategorySortingTabs_active '===' 'featured'}}false{{else}}true{{/if}}" class="tab-content{{#if theme_settings.productsByCategorySortingTabs_active '===' 'featured'}} is-active{{/if}}" id="tab-productsByCategoryTabs-featured-{{id}}" 
            data-emthemesmodez-products-by-category-tabs="{{concat url '?sort=featured'}}"
            data-emthemesmodez-template="papa-supermarket/category/ajax-products-by-category-sorting-tabs-result">
            {{> components/emthemes-modez/common/product-loading theme_settings=theme_settings}}
        </section>
        {{/if}}

        {{#if theme_settings.productsByCategorySortingTabs_show_new}}
        <section role="tabpanel" aria-hidden="{{#if theme_settings.productsByCategorySortingTabs_active '===' 'new'}}false{{else}}true{{/if}}" class="tab-content{{#if theme_settings.productsByCategorySortingTabs_active '===' 'new'}} is-active{{/if}}" id="tab-productsByCategoryTabs-new-{{id}}" 
            data-emthemesmodez-products-by-category-tabs="{{concat url '?sort=newest'}}"
            data-emthemesmodez-template="papa-supermarket/category/ajax-products-by-category-sorting-tabs-result">
            {{> components/emthemes-modez/common/product-loading theme_settings=theme_settings}}
        </section>
        {{/if}}

        {{#if theme_settings.productsByCategorySortingTabs_show_reviews}}
        <section role="tabpanel" aria-hidden="{{#if theme_settings.productsByCategorySortingTabs_active '===' 'reviews'}}false{{else}}true{{/if}}" class="tab-content{{#if theme_settings.productsByCategorySortingTabs_active '===' 'reviews'}} is-active{{/if}}" id="tab-productsByCategoryTabs-reviews-{{id}}" 
            data-emthemesmodez-products-by-category-tabs="{{concat url '?sort=avgcustomerreview'}}"
            data-emthemesmodez-template="papa-supermarket/category/ajax-products-by-category-sorting-tabs-result">
            {{> components/emthemes-modez/common/product-loading theme_settings=theme_settings}}
        </section>
        {{/if}}
    </div>
</div>


