{{!#if product_results.products.length}}
    {{> components/products/filter 
        sort=pagination.product_results.sort 
        pager=pagination.product_results
        list=product_results
        products_per_page=theme_settings.searchpage_products_per_page
        id_suffix='_main'
    }}
{{!/if}}
<form action="{{urls.compare}}" method='POST' {{#if settings.data_tag_enabled}} data-list-name="Search Results" {{/if}} data-product-compare>
    {{#if settings.data_tag_enabled}}
        {{> components/products/grid products=product_results.products show_compare=product_results.show_compare show_aside=true show_info=theme_settings.card_info theme_settings=theme_settings event="list"}}
    {{else}}
        {{> components/products/grid products=product_results.products show_compare=product_results.show_compare show_aside=true show_info=theme_settings.card_info theme_settings=theme_settings}}
    {{/if}}
</form>

{{> components/common/paginator pagination.product_results instantload=(unless product_results.faceted_search_enabled)}}
