{{> components/products/filter 
    sort=pagination.brand.sort 
    pager=pagination.brand
    list=brand
    products_per_page=theme_settings.brandpage_products_per_page
    id_suffix='_main'
}}
<form action="{{urls.compare}}" method='POST' {{#if settings.data_tag_enabled}} data-list-name="Brand: {{brand.name}}" {{/if}} data-product-compare>
    {{> components/products/grid products=brand.products show_compare=brand.show_compare show_aside=true show_info=theme_settings.card_info theme_settings=theme_settings event="list"}}
</form>

{{> components/common/paginator pagination.brand instantload=(unless brand.faceted_search_enabled)}}
