.compareTable-removeProduct {
    top: 0;
    right: 0;
    border-radius: 0;

    .icon {
        fill: $color-textSecondary;
    }

}

.compareTable-product {
    .card {
        background-color: transparent;
    }

    
}


// On Mobile
// ----------------------------------------------------------------------------
@media (max-width: screenSize("medium") - 1px) {
    .papaSupermarket-page--pages-compare .page {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .compareTable {
        width: auto;
    }

    .compareTable-heading {
        padding: 0;
    }

    .compareTable-headingText {
        display: block;
        padding: 0 spacing("half");
        font-weight: fontWeight("bold");
    }
    
    .compareTable-product {
        padding: spacing("quarter");
        min-width: 150px;
    }

    .compareTable-removeProduct {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
            margin: 0;
        }
    }

    .compareTable-action {
        padding: 0 spacing("quarter") spacing("base");

        .button {
            padding: spacing("quarter") spacing("half");
            font-size: fontSize("smaller");
        }
    }
}
