{{! NO LONGER USED - MOVE TO papa-supermarket/special-products-tabs/section.html }}
{{inject 'hasSpecialProductsTabs' true}}
<div class="emthemesModez-specialProductsTabs{{#if style}} emthemesModez-specialProductsTabs--{{style}}{{/if}}">
    <ul class="tabs" id="emthemesModez-specialProductsTabs-tabs" data-tab role="tablist">
        {{#if products.featured}}
        <li class="tab{{#if theme_settings.specialProductsTab_active_tab '===' 'featured'}} is-active{{/if}}" role="presentation"><a class="tab-title" href="#tab-featured-products" role="tab" tabindex="0" aria-selected="{{#if theme_settings.specialProductsTab_active_tab '===' 'featured'}}true{{else}}false{{/if}}" aria-controls="tab-featured-products">{{lang 'products.featured' }}</a></li>
        {{/if}}
        {{#if products.top_sellers}}
        <li class="tab{{#if theme_settings.specialProductsTab_active_tab '===' 'top'}} is-active{{/if}}" role="presentation"><a class="tab-title" href="#tab-bestselling-products" role="tab" tabindex="0" aria-selected="{{#if theme_settings.specialProductsTab_active_tab '===' 'top'}}true{{else}}false{{/if}}" aria-controls="tab-bestselling-products">{{lang 'products.top' }}</a></li>
        {{/if}}
        {{#if products.new}}
        <li class="tab{{#if theme_settings.specialProductsTab_active_tab '===' 'new'}} is-active{{/if}}" role="presentation"><a class="tab-title" href="#tab-new-products" role="tab" tabindex="0" aria-selected="{{#if theme_settings.specialProductsTab_active_tab '===' 'new'}}true{{else}}false{{/if}}" aria-controls="tab-new-products">{{lang 'products.new' }}</a></li>
        {{/if}}
    </ul>
    <div class="tabs-contents">
        {{#if products.featured}}
        <section role="tabpanel" aria-hidden="{{#if theme_settings.specialProductsTab_active_tab '===' 'featured'}}false{{else}}true{{/if}}" class="tab-content{{#if theme_settings.specialProductsTab_active_tab '===' 'featured'}} is-active{{/if}}" id="tab-featured-products">
            {{> components/products/featured 
                products=products.featured
                columns=4 
                hide_heading=true 
                display_type='grid'}}
        </section>
        {{/if}}
        {{#if products.top_sellers}}
        <section role="tabpanel" aria-hidden="{{#if theme_settings.specialProductsTab_active_tab '===' 'top'}}false{{else}}true{{/if}}" class="tab-content{{#if theme_settings.specialProductsTab_active_tab '===' 'top'}} is-active{{/if}}" id="tab-bestselling-products">
            {{> components/products/top 
                products=products.top_sellers
                columns=4 
                hide_heading=true 
                display_type='grid'}}
        </section>
        {{/if}}
        {{#if products.new}}
        <section role="tabpanel" aria-hidden="{{#if theme_settings.specialProductsTab_active_tab '===' 'new'}}false{{else}}true{{/if}}" class="tab-content{{#if theme_settings.specialProductsTab_active_tab '===' 'new'}} is-active{{/if}}" id="tab-new-products">
            {{> components/products/new 
                products=products.new
                columns=4 
                hide_heading=true 
                display_type='grid'}}
        </section>
        {{/if}}
    </div>
</div>