{{#or is_ajax theme_settings.show_bulk_order_mode show_bulk_order_mode}}
<div class="productGrid-bulkOrderHeader-wrapper">
    <ul class="productGrid-bulkOrderHeader">
        <li class="productGrid-bulkOrderHeader-thumb"></li>
        <li class="productGrid-bulkOrderHeader-name">{{lang 'bulk_order.product'}}</li>
        <li class="productGrid-bulkOrderHeader-qtyInCart">{{lang 'bulk_order.qty_in_cart'}}</li>
        <li class="productGrid-bulkOrderHeader-qty">{{lang 'bulk_order.qty'}}</li>
        <li class="productGrid-bulkOrderHeader-price">{{lang 'bulk_order.price'}}</li>
        <li class="productGrid-bulkOrderHeader-subtotal">{{lang 'bulk_order.subtotal'}}</li>
        <li class="productGrid-bulkOrderHeader-action"></li>
    </ul>
</div>
{{/or}}
<ul class="productGrid">
    {{#each products}}
    <li class="product">
        {{#or ../is_ajax ../show_bulk_order_mode}}
            {{> components/products/card 
                settings=../../settings 
                show_compare=../../show_compare 
                show_rating=../../settings.show_product_rating 
                theme_settings=../../theme_settings 
                customer=../../customer 
                show_aside=../../show_aside
                show_info=../../show_info
                show_bulk_order=true
                event=../../event 
                position=(add @index 1)}}
        {{else}}
            {{> components/products/card 
                settings=../../settings 
                show_compare=../../show_compare 
                show_rating=../../settings.show_product_rating 
                theme_settings=../../theme_settings 
                customer=../../customer 
                show_aside=../../show_aside
                show_info=../../show_info
                show_bulk_order=../../theme_settings.show_bulk_order_mode
                event=../../event 
                position=(add @index 1)}}
        {{/or}}
    </li>
    {{/each}}
</ul>
{{#or is_ajax theme_settings.show_bulk_order_mode show_bulk_order_mode}}
<div class="productGrid-bulkOrderFooter-wrapper">
    <ul class="productGrid-bulkOrderFooter">
        <li class="productGrid-bulkOrderFooter-total"><div class="productGrid-bulkOrderFooter-total-inner"><span class="label">{{lang 'bulk_order.total'}}</span> <span data-bulkorder-total-count></span> {{lang 'bulk_order.items'}} / <span class="price price--main" data-bulkorder-total-amount></span></div></li>
        <li class="productGrid-bulkOrderFooter-addAll"><button class="button button--primary" data-bulkorder-add-all>{{lang 'bulk_order.add_all'}}</button></li>
    </ul>
</div>

<div class="bulkOrder-progressModal">
    <h3 class="bulkOrder-progressModal-heading">{{lang 'bulk_order.progress_heading'}}</h3>
    <div class="progressBar animate">
        <span style="width: 0" class="bulkOrder-progressModal-current"><span></span></span>
    </div>

    <div class="bulkOrder-progressModal-actions">
        <a href="{{urls.cart}}" class="button">{{lang 'bulk_order.view_cart'}}</a>
        <a href="#" class="button button--primary" data-close>{{lang 'bulk_order.countinue_shopping'}}</a>
    </div>
</div>
<div class="bulkOrder-progressModal-overlay"></div>
{{/or}}
